<div class="object" id="<%= dom_id object %>" style='min-height:45px'>
  <% pa  = object.place_activity %>
  <div class="what" style="margin-right:5px;width:95px;float:left">
	<%= link_to (pa.activity.name), place_activity_path(:id=>pa.id)%>
  </div>
  <div class="where" style="margin-right:5px;width:95px;float:left">
	<%= link_to (pa.place.name), place_activity_path(:id=>pa.id) %>
  </div>
  	<div class="place_when" style="margin-right:5px;width:95px;float:left">
		<% if object.day_of_week == 0 && object.time_of_day ==0 %>
		Anytime
		<% else %> 
	    <%=dotw(object.day_of_week) + "<br /> " + tod(object.time_of_day)%>
		<% end %>
	</div>
	<div class="place_why" style="margin-right:5px;width:216px;float:left">
		<i><%= object.description%>&nbsp;</i>
	</div>
  <div class="actions" style="width:23px;float:left">
		<%= link_to image_tag("HPThumbUp.png", :width=>20,:class => " tooltip ", :title => I18n.translate("Add_to_favorites")), '#', 'data-href' => "/user_place_activities/new?activity_id="+pa.activity_id.to_s+"&place_id="+pa.place_id.to_s+"&view=add_place_activity", :class => "add_activity" %>
  </div>
</div>
 

 <div class="clear"></div>


