<% content_for :c3 do %>
 &nbsp;
<% end %>

<% content_for :message do %>
  <% if !logged_in? || (logged_in? && current_user != @user) %>
    <h1>
    Here is <%= @user.first_name %>'s profile. Check out places <%= sex_to_s @user.sex, :male => 'he', :female => 'she' %> likes 
    and see if you have anything in common. If you like, <%= link_to "send #{sex_to_s @user} a message", account_message_path(@user) %>.
    Or you can go <%= link_to "back to your matches", account_matches_path %>.
    </h1>
  <% end %>
<% end %>

<% content_for :c1 do %>
  <%= render :partial => 'profile_sidebar' %>
<% end %>
<div class='clear'></div>

<div class="column_header">
      <span>
      	<h2><%=@user.first_name%></h2>
      </span>
</div>
<div class="clear">&nbsp;</div>
<div id='activity_container' class='<%=search_activity_results_class(@search_criteria.type)%>'>

	<div class="clear">&nbsp;</div>
	
	<div style="width:45px;float:left">&nbsp;</div>
	<div style="width:130px;float:left">What</div>
	<div style="width:150px;float:left">Where</div>
	<div style="width:170px;float:left">Who</div>

	<div class="clear"></div>
    <div id='activity_results'>
		<%= render :partial => 'shared_object_collections/user_place_activity_collection', :locals => { :collection => @user_place_activities } %>
	
	</div>
</div> 
