<% content_for :message do %>
  <% if !logged_in? || (logged_in? && current_user != @user) %>
    <h1>
    Here is <%= @user.first_name %>'s profile. Check out places <%= sex_to_s @user.sex, :male => 'he', :female => 'she' %> likes 
    and see if you have anything in common. If you like, <%= link_to "send #{sex_to_s @user} a message", account_message_path(@user) %>.
    Or you can go <%= link_to "back to your matches", account_matches_path %>.
    </h1>
  <% end %>
<% end %>

<% content_for :c1 do %>
  <h3 class="section"><%= @user.first_name %></h3>
  <%= image_tag @user.icon.url(:profile) %>
  <%= render :partial => "users/description", :locals => { :user => @user } %>
  <div id="self_description">
    <span class="fancy_quotes">&#8220;</span>
    <%= @user.description %>
    <span class="fancy_quotes">&#8221;</span>
  </div>
 	<ul id="do_things">
	   <li><%= link_to "FIND PEOPLE", :controller=>'search', :id=>'find_people_link' , :t => "people" %></li>
	   <li><%= link_to "FIND PLACES", :controller=>'search', :id=>'find_places_link' , :t => "places" %></li>
	   <li><%= link_to "FIND ACTIVITIES", :controller=>'search', :id=>'find_activities_link' , :t => "activities" %></li>
	   <li><%= link_to "EDIT MY INFO", edit_account_path %></li>
		<li>&nbsp;</li>
		<% if @user != current_user %>
	   <li><%= link_to I18n.translate("ADD_TO_FAVORITES") %></li> 
	   <li>&nbsp;</li>
		<%end%>
	    <li><%= link_to "INVITE A FRIEND", '#', 'data-href' => new_account_invitation_path, :class => "invite_a_friend" %>
	 </ul>



<% end %>

<h3 class="section"><%= @user.sex == User::Sex::MALE ? 'His' : 'Her' %> places</h3>
<%= render :partial => 'shared/object_collection', :locals => { :collection => @places } %>
<h3 class="section"><%= @user.sex == User::Sex::MALE ? 'His' : 'Her' %> activities</h3>
<%= render :partial => 'shared/object_collection', :locals => { :collection => @user_activities } %>
