<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>HelloPulse - bringing together like-minded singles</title>
    <meta name="HelloPulse" CONTENT="A new site for bringing together like-minded singles" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <%= stylesheet_link_tag %w( reset application) %>
    <%= javascript_include_tag "jquery-1.3.2", 'application' %>
    <%= javascript_include_tag :defaults%>

    <style type="text/css" media="screen">

      a, a:visited, a:active { color: #990000; text-decoration: none;}
      #stock { margin-top: 30px; position: relative;}
      #logo { position: absolute; top: 230px; left: -20px; }

      #more { font-size: 14px; margin-top:15px;margin-bottom:10px}
      .input_text { font-size: .8em; padding: 4px; border: none; background-color: #f1f3f6; color: #666;}
      #go { vertical-align: middle;}
      #hello { margin-bottom: 0px;}
      #session_form { }
      #errors { font-size: .5em; text-align: right;}
      /* REQUIRED BUTTON STYLES: */


      .submit_reg{
        padding:7px!important;
        Background-color:#BF1212!important;
        width:145px;
        border:2px solid #9F1111 !important;
        color:#fff!important;
        margin:3px;
        margin-bottom:10px;
        font-size:20px;
        Font-weight:700!important;
        Font-family:arial!important;
        background-image:none;}

      @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* Safari and Google Chrome only - fix margins */
        button span {
          margin-top: -1px;
        }
      }
    </style>
  </head>

  <body>
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML", :js=>:jquery%>
    <div id="container" class="container_16">
      <div class="grid_16" id="stock">
        <div style="float:right; margin-right:20px">
          <% form_tag session_path , :id => 'session_form' do -%>
            <%= hidden_field_tag 'dest', @dest %>
              <%= hidden_field_tag 'uname', @uname %>
            <div style="float:right; width=700px">
              <span style="font-size:14px;" class="splash-members-login">Members login:</span>
              <span style="font-size:14px"><%= text_field_tag 'login', @login, :class => "input_text", :value => "Username or Email", :size => "16" %></span>
              <span style="font-size:14px"><%= password_field_tag 'password', nil, :size => "10", :class => "input_text", :style => "display: none;" %></span>
              <span style="font-size:14px"><input type="text" class="input_text" size="10" value="Password" id="password_holder"/></span>
              <%= submit_button "GO", :class=> 'submit', :type =>'submit'%><br />
            </div>
            <div class="clear">&nbsp;</div>
            <div style="float:right; margin-bottom:5px">
              <%if   @dest  == nil%>
              <%= fb_login_button('window.location = "/account/link_user_accounts";')%>
              <% else %>
              <%= fb_login_button('window.location = "/account/link_user_accounts/?dest=' + @dest +'''";')%>
              <% end %>
              &nbsp;&nbsp;&nbsp;
              <%= link_to "Forgot Password?", :controller=>'passwords', :action=>"new", :id=>'new_password'%>
            </div>
          <% end %>
        </div>
        <%= image_tag "feature-pannel.jpg" %>
        <div id="logo">
          <%= image_tag "logo.png" %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="" style="padding-left:180px;width:740px;float:left;padding;margin-left:10px;margin-right:10px;" id="">
        <p id="hello" style="font-size:25px;margin-top:10px"> Welcome to HelloPulse... the place for singles to meet out and about in London</p>
        <% if flash[:error] %>
          <p id="errors" style="font-size:13px;margin-right:20px;height:23px">
            <%= flash[:error] %>
          </p>
        <% end %>
        <div style="width:520px;float:left; margin-top:20px;">
          <div style="margin-bottom:10px; font-size:17px;margin-top:15px">Recent activity on HelloPulse</div>
          <%= render :partial => "shared_object_collections/feed_collection", :locals => {:collection => @updates} %>
        </div>
        <div style="float:right; margin-right:0px;margin-top:35px;width:160px" >
          <div style="font-size:17px;margin-left:3px;margin-bottom:5px">New to HelloPulse?</div>
          <% form_tag redeem_path, :id => 'redeem_form' do -%>
            <%= submit_button "Join Here", :class =>'submit_reg'  %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div id="main_footer" style="margin-top:20px">
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>


<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("<%= googlecode(request.url) %>");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    
    $('#login, #invite_code').focus(function() {
<%# password failure/autocomplete %>
<% if @login.present? %>      
        $.data(this, 'clicked', true);
<% end %>
    
      if (!$.data(this, 'clicked')) {
        $(this).val('');
        $.data(this, 'clicked', true);
      }
    });
    



    $('#password_holder').focus(function() {
      $(this).hide();
      $('#password').show();
      $('#password').focus();
    });
    
    $('#redeem, #show_login').click(function() {
      $('#redeem, #show_login').toggle();
     
      return false;
    })
    
  });
</script>