<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>HelloPulse - bringing together like-minded singles</title>
    <meta name="HelloPulse" CONTENT="A new site for bringing together like-minded singles" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <%= stylesheet_link_tag %w( reset application) %>
    <%= javascript_include_tag "jquery-1.3.2", 'application' %>
    <%= javascript_include_tag :defaults%>

    <style type="text/css" media="screen">

      a, a:visited, a:active { color: #990000; text-decoration: none;}
      #stock { margin-top: 30px; position: relative;}
      #logo { position: absolute; top: 230px; left: -20px; }

      #more { font-size: 14px; margin-top:15px;margin-bottom:10px}
      .input_text { font-size: .8em; padding: 4px; border: none; background-color: #f1f3f6; color: #666;}
      #go { vertical-align: middle;}
      #hello { margin-bottom: 0px;}
      #session_form { }
      #errors { font-size: .5em; text-align: right;}
      /* REQUIRED BUTTON STYLES: */


      .submit_reg{
        padding:7px!important;
        Background-color:#BF1212!important;
        width:145px;
        border:2px solid #9F1111 !important;
        color:#fff!important;
        margin:3px;
        margin-bottom:10px;
        font-size:20px;
        Font-weight:700!important;
        Font-family:arial!important;
        background-image:none;}

      @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* Safari and Google Chrome only - fix margins */
        button span {
          margin-top: -1px;
        }
      }



    </style>
  </head>

  <body>

    <div id="container" class="container_16">

      <div class="grid_16" id="stock">
        <div style="float:right; margin-right:20px">
          <% form_tag session_path , :id => 'session_form' do -%>




           <div class="clear">&nbsp;</div>

          <% end %>
        </div>
        <%= image_tag "feature-pannel.jpg" %>
        <div id="logo">
          <%= image_tag "logo.png" %>
        </div>
      </div>

      <div class="clear"></div>

      <div class="" style="padding-left:180px;width:740px;float:left;padding;margin-left:10px;margin-right:10px;" id="">
        <p id="hello" style="font-size:25px;margin-top:10px"> Welcome to HelloPulse partner login page</p><br />
        <p id="hello1" style="font-size:20px;margin-top:10px"> As a valued partner we will promote your business to our members - socially mobile and influencial singles</p>

        <br />

        

        <% if flash[:error] %>
          <p id="errors" style="font-size:13px;margin-right:20px;height:23px">
            <%= flash[:error] %>
          </p>
        <% end %>
       
        <div style="float:left; margin-right:0px;margin-top:35px">
          <div style="font-size:17px;margin-left:3px;margin-bottom:5px">Please enter your login code here: </div>


          <% form_tag 'activities/partner', :id => 'redeem_form' do -%>
            <%= text_field_tag 'code', '', :class => "input_text", :value => "", :size => "10" %>
            <%= submit_button "Register", :class =>'submit'  %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
 <div id="main_footer" style="margin-top:20px">
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    $('#login, #invite_code').focus(function() {
<%# password failure/autocomplete %>
<% if @login.present? %>
        $.data(this, 'clicked', true);
<% end %>

      if (!$.data(this, 'clicked')) {
        $(this).val('');
        $.data(this, 'clicked', true);
      }
    });




    $('#password_holder').focus(function() {
      $(this).hide();
      $('#password').show();
      $('#password').focus();
    });

    $('#redeem, #show_login').click(function() {
      $('#redeem, #show_login').toggle();

      return false;
    })

  });
</script>

<script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("<%= googlecode(request.url) %>");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>