<div class="object" id="<%= dom_id object %>">
    <% user = User.find(object.actor_id)%>
  	<div class="icon">
		<%= link_to image_tag(User.find(object.actor_id).icon.url(:thumb), :width => '45px', :height => '45px'), User.find(object.actor_id) %>
	</div>
	<div class="info_container">
		<div style="float:left;font-size:13px">
			<span>
     		<%= link_to user.first_name, user %>
			</span>
		</div>
		<div style="float:right">
			<%= DateAndTimeHelper.didwhen(object.created_at) %>
		
	    </div>
	    <div class="clear"></div>

		
		<% if object.event_type == 'addeduserplaceactivity' %>
		      <% user_place_activity = UserPlaceActivity.find(object.subject_id)%>
	
			  <div style="float:left">
			  added
			  <%= link_to user_place_activity.activity.name, user_place_activity_path(:id=>object.subject_id.to_s) %>
			  at
			  <%= link_to user_place_activity.place.name, user_place_activity_path(:id=>object.subject_id.to_s)  %>
			</div>
			<div class="clear"></div>
			<div class="float:left">
			<i>'<%= user_place_activity.description %>'</i>
			</div>
		<% else %>
		<div style="float:left">
			<%= link_to user.name,user %> joined HelloPulse
		</div>
		<% end %>

		<div class="clear"></div>
		<div>
			
		</div>
  </div>
 <div class="clear"></div>
 </div>

 <div class="clear"></div>