<% content_for :c3 do %>
  <div class="column_header">
  <h2>Follow Us</h2>
  <div style="float:left;margin-top:5px;font-size:16px"><a href="http://www.facebook.com/hellopulse"><img src="/images/fb.jpg" width="40"alt="fb" /></a></div> <div style="float: left; font-size: 16px;width:125px;margin-top:5px;margin-left:5px">Join our Facebook Page </div><div class="clear"></div>
  <div style="float:left;margin-top:5px;font-size:16px"><a href="http://www.twitter.com/hellopulse"><img src="/images/twitter.jpg" width="40" alt="twitter" /></a></div><div style="float: left; font-size: 16px;width:125px;margin-top:5px;margin-left:5px"> Follow us on Twitter</div><div class="clear"></div>
</div>

<% end %>



<%= javascript_include_tag :defaults%>
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML", :js=>:jquery%>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>
<script type="text/javascript"><!--
  function onABCommComplete() {
   
    addressbook();
  }
  //--></script>

<div class="column_header">
  <h2>Invite Your Friends to HelloPulse!!!!!</h2>
</div>
<div style="margin-top:10px">
<div style="float:left;width:170px"><a href="#" onclick="addressbook();showPlaxoABChooser('recipient_list', '/import'); return false" class="submit_act"> Import From Contacts</a> &nbsp;</div>
 <div style="float:left;font-size:16px"> - We won't store your details!!! <br /></div><div class="clear"></div>
</div>
<div style="margin-top:10px">
   <div style="float:left;width:170px"><%= fb_login_button('facebook();')%>&nbsp;</div>
   <div style="float:left;margin-top:5px;font-size:16px">  - Invite your Facebook friends to join HelloPulse</div><div class="clear"></div>
</div>
<div style="margin-top:10px">
<div style="float:left;width:170px"><a href="#" onclick="email()  ; return false" class="submit_act">Email Addresses</a>&nbsp;</div>
<div style="float:left;font-size:16px">- Enter some email addresses<br /></div><div class="clear"></div>
</div>

<div id="intro" style="font-size:16px;width:556px;margin-top:20px;display:block">
  If you know someone who would love HelloPulse, let them know about us! Send a message using any of the methods above. The more singles, the merrier!
</div>

<div id="addressbook" style="font-size:16px;width:556px;margin-top:20px;display:none">
  <textarea cols="78" id="recipient_list" name="recipients"></textarea>
  <%= submit_tag "Send", :id=>'sendaddressesbook' ,:class=>'submit_act' %>
</div>
<br />

<div id="fbdiv" style="display:none">
<fb:serverfbml style="width: 776px;">  <script type="text/fbml">  <fb:fbml>  <fb:request-form action='http://www.hellopulse.com/invite' method="POST" invite="true" type="HelloPulse" content="<fb:name uid='<%=facebook_session != nil ? facebook_session.user.uid : 0%> ' useyou='false' /> is a member of HelloPulse.com and would like to share that experience with you. To register, simply click on the Register button below.<fb:req-choice url='http://www.hellopulse.com' label='Register' />">  <fb:multi-friend-selector cols="3" showborder="true" actiontext="Invite your Facebook Friends to use HelloPulse" />  </fb:request-form>  </fb:fbml>  </script> </fb:serverfbml>
</div>


<script type="text/javascript" charset="utf-8">

   $('#sendaddressesbook').live('click',function(){

      $.ajax({
          type: "GET",
          dataType: 'json',
          url: '/invites/send',
          data: {
            "q" : $('#recipient_list').val()
          },
          success: function(p) {
            mailreset();
          },
          error: function(p) {
            mailerror();
          }
        })

   });


   function mailreset()
   {
     $('#intro').val('We have delivered your invitations');
     $('#fbdiv').css('display','none');
    $('#addressbook').css('display','none');
      $('#intro').css('display','block');
   }

   function mailerror()
   {
         $('#intro').val('We had a problem sending your invitations. Please try again');
     $('#fbdiv').css('display','none');
    $('#addressbook').css('display','none');
      $('#intro').css('display','block');
   }

  function facebook() {
    $('#fbdiv').css('display','block');
    $('#addressbook').css('display','none');
    $('#intro').css('display','none');
  }

  function addressbook() {
    $('#fbdiv').css('display','none')
    $('#addressbook').css('display','block');
     $('#intro').css('display','none');
  }

  function email()
  {
    $('#fbdiv').css('display','none')
     $('#intro').css('display','none');
     $('#addressbook').css('display','block');
     $('#recipient_list').focus();
  }

</script>