<% form_for user_activity, :url => account_activities_path do |f| %>
  <% if type == "add_activity" %>
  <h4>Add an activity</h4>
	<%= hidden_field_tag 'user_activity[activity_id]', activity.id, :id => 'user_activity[activity_id]' %>
	<%= image_tag(activity.icon.url(:thumb), :width => '30px', :height => '30px') %>
	<%= activity.name %> <span style="font-size: .7em;"><%= activity.category %></span>
	<div class="clear"></div>
	<label  style="margin-top: 5px; color:#990000; float:left">Where do you like doing this?</label>
	<%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
	<%= text_field_tag :place_name, 
	    (user_activity.place.present? ? user_activity.place.name : nil), 
	    :class => "input_text", :disabled => false,
	    :size => 50,
	    "data-prefilled" => (user_activity.place.present? ? 'true' : 'false')
	  %>

	<div class="clear"></div>
	
  <% else %>
  <h4>Add this place to your favorites</h4>
	<%= image_tag(place.icon.url(:thumb), :width => '30px', :height => '30px') %>
  	<%= place.name %> <span style="font-size: .7em;"><%= place.neighborhood %></span>
	<%= f.hidden_field :id %>
	  <%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
	  
	<div id="activity_category_select" style="margin-top:10px">
		<label  style="margin-top: 5px; color:#990000;">What do you do here?</label>	
	    <%= render :partial => "shared/activity_select" %>
	  </div>
  <% end %>
  
  

  </br>
  <div style="margin-top:10px">
    <h4>Tell us everything important about it in less than a text message</h4>
    <%= f.text_area :description, :rows => 10, :class => "input_text word_count" %>
  </div>
  <%= submit_button 'Save', :id => "new_activity"%>
  <%= submit_button 'Cancel', :id => "cancel" %>
<% end %>














<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
    if ($("#activity_name").attr("data-prefilled") == "false") {
      var ac_options = {
        autoFill:false,
        maxItemsToShow:30,
        mustMatch: false,
        onItemSelect: function(e) {
               var extra = $(e).attr('extra');
               if (extra.length > 0) {
                $("#user_activity[activity_id]").val(extra[0])             
              } else {
                $("#user_activity[activity_id]").val('')             
              }
        },
      }
      $("#activity_name").autocomplete('/activities/autocomplete', ac_options);
    }   

	$('#place_name').focus(function() {
	    if ( !$.data(this, 'initialized') ) {
		  
	      $(this).val('');
	      $("#place_name").autocomplete(
	        "/places/autocomplete",
	        {
	          delay:15,
	          minChars:2,
	          matchSubset:2,
	          autoFill:true,
	          maxItemsToShow:30,
	          mustMatch: true,
	          onItemSelect: function(e) {
	            var extra = $(e).attr('extra');
	            if (extra.length > 0) {
	              $("#place_id").val(extra[0])
	            } else {
	              $("#place_id").val('')
	            }
	          },
	        }
	      );
	      $.data(this, 'initialized', true);
	      $(this).blur();
	      $(this).focus();
		}
	  });


    $('.word_count').charCounter(140, {
      container: "<div></div>"
    })

    <% if request.xhr? %>
    $("#cancel").click(function() {
      $("#dialog").jqmHide();
      return false;
    })
    
    $("#new_user_activity").submit(function() {
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: $(this).serialize(),
        success: function(p) {
          $('#dialog').jqmHide();
        },
        error: function(p) {
		  //todo: here display error message
		},
      })
      return false;
    });
    <% end %>



  });
</script>