<table id="hellopulse-wrapper" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif;">
  <tr>
    <td align="center">
     
      <table id="hellopulse-activities" width="620" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
        </tr>
        <tr>
          <td>

            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" width="195"><img src="http://aeser.co.uk/g/header_r1_c1.jpg" alt="HelloPulse" width="195" height="170" style="display: block;" /></td>
                <td valign="top" width="10"><img src="http://aeser.co.uk/g/header_r1_c2.jpg" width="10" height="61" style="display: block;" /></td>
                <td valign="top">
                  <table width="415" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="http://aeser.co.uk/g/header_r1_c3.jpg" width="415" height="61" style="display: block;" /></td>
                    </tr>

                    <tr>
                      <td style="font-size: 12px;"><span style="font-weight:700;">Hello <%= @user.first_name %> </span><br /><br />What's going on? You haven't added any activities or hangouts to your profile.<br /><br />At HelloPulse we connect people through the things they do and the places they go.  The more activities you share with the community, the more opportunity to meet single [women].</td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                    </tr>
                    <tr>

                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                            <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

                          </tr>
                          <tr>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                            <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                            <td bgcolor="#BF1212"><a href="#" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Add activities here</a></td>
                            <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                          </tr>

                          <tr>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                            <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                            <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>

                            <td valign="top" width="75"><a href="#"><img src="<%=@user1.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user1.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;">Playing Tennis</a> at <a href="#" style="color: #990000; text-decoration: none;">Hyde Park tennis courts</a><br /><span style="font-style:italic;">'not so secret courts in the world's greatest park. drinks in the club house after a game'</span></td>
                          </tr>
                          <tr>

                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@user2.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user2.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;">Playing Tennis</a> at <a href="#" style="color: #990000; text-decoration: none;">Hyde Park tennis courts</a><br /><span style="font-style:italic;">'not so secret courts in the world's greatest park. drinks in the club house after a game'</span></td>

                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@user3.icon.url(:profile) %> " width="75" height="75" style="display: block;" /></a></td>

                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user3  .first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;">Playing Tennis</a> at <a href="#" style="color: #990000; text-decoration: none;">Hyde Park tennis courts</a><br /><span style="font-style:italic;">'not so secret courts in the world's greatest park. drinks in the club house after a game'</span></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>

                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="15" height="15" style="display: block;" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px;">And start connecting with other London singles<br /><br />The HelloPulse team</td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block;" /></td>
        </tr>
        <tr>

          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#EDEDED" style="font-size: 12px;">Don't want the latest updates from HelloPulse? <a href="#" style="color: #990000; text-decoration: none;">Unsubscribe here</a></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>

              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>