<table id="hellopulse-wrapper" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif;">
  <tr>
    <td align="center">
      <table id="hellopulse-happenings" width="620" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
        </tr>
        <tr>
          <td>

            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" width="195"><img src="http://aeser.co.uk/g/header_r1_c1.jpg" alt="HelloPulse" width="195" height="170" style="display: block;" /></td>
                <td valign="top" width="10"><img src="http://aeser.co.uk/g/header_r1_c2.jpg" width="10" height="61" style="display: block;" /></td>
                <td valign="top">
                  <table width="415" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="http://aeser.co.uk/g/header_r1_c3.jpg" width="415" height="61" style="display: block;" /></td>
                    </tr>

                    <tr>
                      <td style="font-size: 12px;"><span style="font-weight:700;">Hello <%= @user.first_name %><br /><br />Great to have you on board.  See who's going out in London this week.</span></td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                    </tr>
                    <tr>
                      <td>

                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@host + @user1.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user1.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@upa1.activity.name %></a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@upa1.place.name %></a><br /><span style="font-style:italic;">'<%=@upa1.description %>'</span></td>

                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="middle" width="90">
                              <table width="90" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>

                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>/profiles/<%=@user1.username%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Meet <%=@user1.sex == 1 ? 'him' : 'her' %> </a></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>

                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>

                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">

                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@host + @user2.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user2.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@upa2.activity.name %></a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@upa2.place.name %></a><br /><span style="font-style:italic;">'<%=@upa2.description %>'</span></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>

                            <td valign="middle" width="90">
                              <table width="90" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>/profiles/<%=@user2.username%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Meet her</a></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>

                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                              </table>

                            </td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>

                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>

                            <td valign="top" width="75"><a href="#"><img src="<%=@host + @user3.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user3.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@upa3.activity.name %></a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@upa3.place.name %></a><br /><span style="font-style:italic;">'<%=@upa3.description %>'</span></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="middle" width="90">

                              <table width="90" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>

                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>/profiles/<%=@user3.username%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Meet her</a></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>

                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                              </table>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@host + @user4.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>

                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user4.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@upa4.activity.name %></a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@upa4.place.name %></a><br /><span style="font-style:italic;">'<%=@upa4.description %>'</span></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="middle" width="90">
                              <table width="90" border="0" cellpadding="0" cellspacing="0">

                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>

                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>/profiles/<%=@user4.username%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Meet her</a></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>

                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" width="75"><a href="#"><img src="<%=@host + @user5.icon.url(:profile) %>" width="75" height="75" style="display: block;" /></a></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>

                            <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@user5.first_name%></a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@upa5.activity.name %></a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@upa5.place.name %></a><br /><span style="font-style:italic;">'<%=@upa5.description %>'</span></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="middle" width="90">
                              <table width="90" border="0" cellpadding="0" cellspacing="0">
                                <tr>

                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>/profiles/<%=@user5.username%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Meet her</a></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>

                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>

                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/dotted.gif" width="415" height="1" style="display: block;" /></td>
                          </tr>
                          <tr>
                            <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="15" height="15" style="display: block;" /></td>
                    </tr>
                    <tr>
                      <td>
                        <table width="415" border="0" cellpadding="0" cellspacing="0">
                          <tr>

                            <td valign="top" style="font-size: 12px;"><span style="font-weight:700;"><%=@user.first_name%>, Add more activities to get more matches.</span></td>
                            <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                            <td valign="middle" width="200">
                              <table width="200" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>

                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" align="center"><a href="<%=@host%>" style="color: #FFFFFF; font-size: 18px; text-decoration: none;">Add activities here</a></td>

                                  <td bgcolor="#BF1212" width="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                  <td bgcolor="#BF1212" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block;" /></td>
                                  <td bgcolor="#9F1111" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                                <tr>

                                  <td bgcolor="#9F1111" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block;" /></td>
        </tr>
        <tr>

          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>

              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#EDEDED" style="font-size: 12px;">Don't want the latest updates from HelloPulse? <a href="<%=@host%>/?dest=unsubscribe" style="color: #990000; text-decoration: none;">Unsubscribe here</a></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>

              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block;" /></td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block;" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>