<table id="hellopulse-wrapper" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif;">
  <tr>
    <td width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
    <td align="center">
      <table id="hellopulse-happenings" width="620" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" width="122"><a href="http://www.hellopulse.com/"><img src="http://aeser.co.uk/g/logo-hellopulse-122x122.jpg" width="122" height="122" style="display: block; border: 0;" /></a></td>
                <td valign="top" width="20"><img src="http://aeser.co.uk/g/transparent.gif" width="20" height="10" style="display: block; border: 0;" /></td>
                <td valign="top">
                  <table width="478" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="font-size: 13px;"><span style="font-weight:700;">Hello <%= @user.first_name %></span><br /><br /><%=@heading%></td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/title-whos-out-in-london.jpg" alt="See who's going out in London this week" width="620" height="43" style="display: block; border: 0;" /></td>
        </tr>
        <tr>
          <td><% (0..@users.length-1).each do |i| %>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" width="75"><img src="<%=@host + @users[i].icon.url(:profile) %>" width="75" height="75" style="display: block; border: 0;" /></td>
                <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td valign="top" style="font-size: 12px; "><span style="color: #990000;"><%=@users[i].first_name%></span><br />added <span style="color: #990000;"><%=@happenings[i].activity.name%></span> at <span style="color: #990000;"><%=@happenings[i].place.name%></span><br /><span style="font-style:italic;">'<%=@happenings[i].description %>'</span></td>
                <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td valign="middle" width="126" align="right"><a href="<%=@host %>/account"><img src=<%= @users[i].sex == 1 ? @meet_him_url : @meet_her_url %> width="124" height="38" style="display: block; border: 0;" /></a></td>
              </tr>
              <tr>
                <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td colspan="5"><img src="http://aeser.co.uk/g/dotted-2.gif" width="620" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block; border: 0;" /></td>
              </tr>
            </table><% end %>      
          </td>
        </tr>
        <tr>
          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td valign="middle" align="right" style="font-size: 13px; font-weight:700;"><%= @user.first_name %>, Add more activities to get more matches.</td>
                <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td width="202"><a href="/new_step3/?dest=add_activities"><img src="http://aeser.co.uk/g/button-add-activites.jpg" alt="Add activities now" width="202" height="37" style="display: block; border: 0;" /></a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block; border: 0;" /></td>
        </tr>
        <tr>
          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" style="font-size: 12px;">Don't want the latest updates from HelloPulse? <a href="<%=@host%>/?dest=unsubscribe" style="color: #990000; text-decoration: none;">Unsubscribe here</a></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
        </tr>
      </table>
    </td>
    <td width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
  </tr>
</table>