<table id="hellopulse-wrapper" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif;">
  <tr>
    <td width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
    <td align="center">
      <table id="hellopulse-notifications" width="620" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" width="122"><a href="http://www.hellopulse.com/"><img src="http://aeser.co.uk/g/logo-hellopulse-122x122.jpg" width="122" height="122" style="display: block; border: 0;" /></a></td>
                <td valign="top" width="20"><img src="http://aeser.co.uk/g/transparent.gif" width="20" height="10" style="display: block; border: 0;" /></td>
                <td valign="top">
                  <table width="478" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="font-size: 13px;"><span style="font-weight:700;">Hello <%=@user.first_name%></span><br /><br />Well, well, someone has just added you to their favourites. Take a peak and see who <i>likes you</i>, likes you<br /><br /><a href="<%=@host%>/?dest=profile&uname=<%=@friend.username%>"><img src="http://aeser.co.uk/g/button-click-here.jpg" alt="Click here" width="132" height="38" style="display: block; border: 0;" /></a><br />And there's more, look at the people who share the same activities as you.</td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block; border: 0;" /></td>
                    </tr>
                  </table>
                  <% (0..@users.length-1).each do |i| %>
                  <table width="478" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top" width="75"><a href="#"><img src="<%=@host + @users[i].icon.url(:profile) %>" width="75" height="75" style="display: block; border: 0;" /></a></td>
                      <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                      <td valign="top" style="font-size: 12px;"><a href="#" style="color: #990000; text-decoration: none;"><%=@users[i].first_name %> </a><br />added <a href="#" style="color: #990000; text-decoration: none;"><%=@happenings[i].activity.name %> </a> at <a href="#" style="color: #990000; text-decoration: none;"><%=@happenings[i].place.name %> </a><br /><span style="font-style:italic;">'<%=@happenings[i].description %> '</span></td>
                      <td valign="top" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                      <td valign="middle" width="126" align="right"><a href="<%=@host%>/?dest=profile&uname=<%=@users[i].username%>"><img src="<%= @users[i].sex == 1 ? @meet_him_url : @meet_her_url %>"  width="124" height="38" style="display: block; border: 0;" /></a></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block; border: 0;" /></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img src="http://aeser.co.uk/g/dotted-2.gif" width="478" height="1" style="display: block; border: 0;" /></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="5" height="5" style="display: block; border: 0;" /></td>
                    </tr>
                  </table>
                  <% end %>


                  <table width="478" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block; border: 0;" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 13px;">So many singles, so little time. Have fun.<br /><br />The HelloPulse Team <br /></td>
                    </tr>
                    <tr>
                      <td><img src="http://aeser.co.uk/g/transparent.gif" width="30" height="30" style="display: block; border: 0;" /></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="620" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" style="font-size: 12px;">Don't want the latest updates from HelloPulse? <a href="<%=@host%>/?dest=unsubscribe" style="color: #990000; text-decoration: none;">Unsubscribe here</a></td>
                <td bgcolor="#EDEDED" width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
                <td bgcolor="#EDEDED" colspan="3"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
                <td bgcolor="#CCCCCC" width="1"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC" colspan="5"><img src="http://aeser.co.uk/g/transparent.gif" width="1" height="1" style="display: block; border: 0;" /></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
        </tr>
      </table>
    </td>
    <td width="10"><img src="http://aeser.co.uk/g/transparent.gif" width="10" height="10" style="display: block; border: 0;" /></td>
  </tr>
</table>