<% form_tag search_people_path, :method => :get, :id => "advanced_search_side" do |f| %>
  <%= hidden_field_tag "t", params[:t] %>
  <div class="column_header">
    <span>
      <h2>Filter Results</h2>
    </span>
  </div>
  <%= hidden_field_tag 'search_criteria[type]', @search_criteria.type, :id=>'search_criteria_type' %>
  <ul id="search_type"  style="text-align:center">
    <li id="simple_search"   class="<%=search_type_simple_class(@search_criteria.type)%>"> Simple</l1>
    <li id="advanced_search"  class="<%=search_type_advanced_class(@search_criteria.type)%>"> Advanced </l1>
    <li id="map_search"  class="<%=search_type_map_class(@search_criteria.type)%>"> Map </l1>
  </ul>
  <div class="clear">&nbsp;</div>
  <div style='min-height:400px'>
    <div id="keyword_criteria"  style="padding:5px" class="<%=search_keyword_class(@search_criteria.type)%>" >
      <label  class="search_criteria_header" style="padding-top:0px">Keyword</label><br \>
        <%= text_field_tag 'search_criteria[keyword]', @search_criteria.keyword, :class => 'input_text'%><br />
    </div>

    <div id="people_header" class="search_sidebar_header">People</div>
    <div id='people_criteria' style="padding:5px" class="<%=search_people_class(@search_criteria.type)%>" >
      <label class="search_criteria_header">Age</label><br \>
      <% age_options.each do |opt| %>
          <%= check_box_tag "search_criteria[age_"+opt[1].to_s+"]", opt[1] , @search_criteria.ages.include?(opt[1]) %> <%= opt[0] %> <br \>
        <% end %>
        <label  class="search_criteria_header">Gender</label><br \>
        <%= check_box_tag "search_criteria[sp_1]",1, @search_criteria.sex_preferences.include?("1") %> Male <br \>
        <%= check_box_tag "search_criteria[sp_2]",2, @search_criteria.sex_preferences.include?("2")  %> Female<br \>
    </div>

    <div id="place_header" class="search_sidebar_header">Places</div>
    <div id='place_criteria'  style="padding:5px" class="<%=search_places_class(@search_criteria.type)%>" >
      <label class="search_criteria_header">Location</label><br \>
        <div class="float:left" id="postcodesearch">
          <%= drop_down('search_criteria[distance]', @search_criteria.distance, {:width => '100px'},distance_options, 'Any distance',0) %>
        <div class="clear"></div>
                              from
        <%= text_field_tag 'search_criteria[postcode]', @search_criteria.postcode, :class => 'input_text' %><br />
      </div>
    </div>

    <div id="activity_header" class="search_sidebar_header">Activities</div>
    <div id='activity_criteria'  style="padding:5px" class="<%=search_activities_class(@search_criteria.type)%>" >
      <label class="search_criteria_header">Activity</label><br \>
      <% activity_category_options.each do |opt| %>
          <%= check_box_tag "search_criteria[ac_"+opt[1].to_s+"]", opt[1] , @search_criteria.activity_categories.include?(opt[1]) %> <%= opt[0] %> <br \>
        <% end %>
    </div>
    <div id="place_header" class="search_sidebar_header_line"></div>
  </div>
  <div id="advanced_search_submit" style="float:left;">
    <%= submit_button ("Search", :id=> "search_sidebar_button") %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">



  //todo: clean up this javascript
  var search_type = 1
  var submit = true

  $('#simple_search').live('click', function() {
    if($('#search_criteria_type').val() != "1")
    {
      $('#keyword_criteria').css("display","block");
      $('#people_criteria').css("display","block");
      $('#place_criteria').css("display","none");
      $('#activity_criteria').css("display","none");
      $('#search_criteria_type').val(1);
      $('#big_map').css("height","0px");

      $('#activity_container').css("display","none");
      $('#people_container').css("display","none");
      $('#object_container').css("display","block");
      $('#map_container').css("display","none");

      $("#advanced_search_side").submit();
      $('#simple_search').addClass("search_type_selected");
      $('#simple_search').removeClass("search_type");
      $('#advanced_search').removeClass("search_type_selected").addClass("search_type");
      $('#map_search').removeClass("search_type_selected").addClass("search_type");;
      $('#keyword_criteria').css('display','block')
    }
  });
  $('#advanced_search').live('click', function() {
    if($('#search_criteria_type').val() != "4")
    {
      $('#keyword_criteria').css("display","none");
      $('#people_criteria').css("display","block");
      $('#place_criteria').css("display","block");
      $('#activity_criteria').css("display","block");
      $('#search_criteria_type').val(4);
      $('#big_map').css('height','1px','overflow','hidden');

      $('#activity_container').css("display","block");
      $('#people_container').css("display","block");
      $('#object_container').css("display","none");
      $('#map_container').css("display","none");

      $("#advanced_search_side").submit();
      $('#advanced_search').addClass("search_type_selected");
      $('#advanced_search').removeClass("search_type");
      $('#simple_search').removeClass("search_type_selected").addClass("search_type");;
      $('#map_search').removeClass("search_type_selected").addClass("search_type");;
      $('#keyword_criteria').css('display','none')

    }
  });
  $('#map_search').live('click', function() {
    if($('#search_criteria_type').val() != "5")
    {
      $('#keyword_criteria').css("display","none");
      $('#people_criteria').css("display","block");
      $('#place_criteria').css("display","block");
      $('#activity_criteria').css("display","block");
      $('#search_criteria_type').val(5);
      $('#big_map').css("height","560px");

      $('#activity_container').css("display","none");
      $('#people_container').css("display","none");
      $('#object_container').css("display","none");
      $('#map_container').css("display","block");

      $("#advanced_search_side").submit();
      $('#map_search').addClass("search_type_selected");
      $('#map_search').removeClass("search_type");
      $('#advanced_search').removeClass("search_type_selected").addClass("search_type");;
      $('#simple_search').removeClass("search_type_selected").addClass("search_type");;
      $('#keyword_criteria').css('display','none')
    }
  });


  $('#people_criteria').live('click', function() {

    if($('#search_criteria_type').val()!=4 && $('#search_criteria_type').val()!=5 ){
      $('#people_criteria').css("display","block");
      $('#place_criteria').css("display","none");
      $('#activity_criteria').css("display","none");
      $('#search_criteria_type').val(1);
    }
  });
  $('#place_criteria').live('click', function() {
    if($('#search_criteria_type').val()!=4&& $('#search_criteria_type').val()!=5){
      $('#people_criteria').css("display","none");
      $('#place_criteria').css("display","block");
      $('#activity_criteria').css("display","none");
      $('#search_criteria_type').val(2);
    }
  });
  $('#activity_criteria').live('click', function() {
    if($('#search_criteria_type').val()!=4&& $('#search_criteria_type').val()!=5){
      $('#people_criteria').css("display","none");
      $('#place_criteria').css("display","none");
      $('#activity_criteria').css("display","block");
      $('#search_criteria_type').val(3);
    }
  });
  $('#people_header').live('click', function() {

    if($('#search_criteria_type').val()!=4 && $('#search_criteria_type').val()!=5 ){
      $('#people_criteria').css("display","block");
      $('#place_criteria').css("display","none");
      $('#activity_criteria').css("display","none");
      $('#search_criteria_type').val(1);
    }
  });
  $('#place_header').live('click', function() {
    if($('#search_criteria_type').val()!=4&& $('#search_criteria_type').val()!=5){
      $('#people_criteria').css("display","none");
      $('#place_criteria').css("display","block");
      $('#activity_criteria').css("display","none");
      $('#search_criteria_type').val(2);
    }
  });
  $('#activity_header').live('click', function() {
    if($('#search_criteria_type').val()!=4&& $('#search_criteria_type').val()!=5){
      $('#people_criteria').css("display","none");
      $('#place_criteria').css("display","none");
      $('#activity_criteria').css("display","block");
      $('#search_criteria_type').val(3);
    }
  });

  $("#advanced_search_side").submit(function() {
    //todo: refactor this method too long
    error = false;
    if($(this).attr('t')=="user_place_activity"){
      var postcode = $('#postcode');
      postcode.removeClass('invalid');
      regexString = /^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/
      if ($('#distance').val() != 0 && (postcode.val() == '' || postcode.val() == 'Post code' || regexString.test(postcode.val().toUpperCase()) != true)) {
        postcode.addClass('invalid');
        postcode.nextAll('span.error').text('Please enter a valid post code.');
        error = true;
      }
    }

    if(!error) {
      var people_url = "";
      var objects_url = "";
      var activities_url = "";
      var map_url = "";
      var type = $('#search_criteria_type').val();

      switch(type) {
        case "1":
          objects_url = "/search/people"
          $('#object_header').text('People')
          break;
        case "2":
          objects_url = "/search/places"
          $('#object_header').text('Places');
          break;
        case "3":
          objects_url = "/search/activities"
          $('#object_header').text('Activities');
          break;
        case "4":
          activities_url = "/search/user_place_activities"
          people_url = "/search/people_list"
          break;
        case "5":
          map_url = "/big_map"
          break;
      }

      var dataString = $('#advanced_search_side').serialize();

      if(people_url.length>0) {
        $.ajax({
          type: "GET",
          url: people_url,
          data: $('#advanced_search_side').serialize(), //advanced_search,
          success: function(p) {
            $('#people_results').html(p);

          }
        });
      }
      if(activities_url.length>0){
        $.ajax({
          type: "GET",
          url: activities_url,
          data: $('#advanced_search_side').serialize(), //advanced_search,
          success: function(p) {
            $('#activity_results').html(p);
          }
        });
      }
      if(objects_url.length>0){

        $.ajax({
          type: "GET",
          url: objects_url,
          data: $('#advanced_search_side').serialize(), //advanced_search,
          success: function(p) {
            $('#object_results').html(p);
          }
        });
      }
      if(map_url.length>0){

        var sw = new GLatLng(<%=  51.500152 %>, <%= -0.126236  %>);
        var ne = new GLatLng(<%=  51.502152 %>, <%= -0.122236 %>);
        var bounds = new GLatLngBounds(sw,ne);
        var ma = new GMarker(bounds.getCenter(), { icon: dotIcon });
        $.ajax({
          type: "GET",
          url: '/search/map',
          data: $('#advanced_search_side').serialize(), //advanced_search,
          success: function(p) {
            map.clearOverlays();
            var x = eval(p);
            var marker= new Array();
            for(var i =0; i < x.length; i++)
            {
              var point = new GLatLng(x[i].place.latitude, x[i].place.longitude)
              var marker = createMarker(point,place_html(x[i].place));
              map.addOverlay(marker);
            }
          }
        });
      }
    }
    return false;
  });


  function place_html(pl)
  {
    return pl.name
  }
  function createMarker(point,html) {
    var marker = new GMarker(point,{ icon: dotIcon });
    GEvent.addListener(marker, "click", function() {
      marker.openInfoWindowHtml(html);
    });

    // The new marker "mouseover" listener
    GEvent.addListener(marker,"mouseover", function() {
      marker.openInfoWindowHtml(html);
    });
    GEvent.addListener(marker,"mouseout", function() {
      marker.closeInfoWindow();
    });

    return marker;
  }

  $(document).ready(function() {
    //todo: why is search_criteria type not getting set earlier in html?
    $('#search_criteria_type').val(<%=@search_criteria.type%>)
    $("#advanced_search_side").submit();
  });
</script>














