<div class="object" id="<%= dom_id object %>" style='min-height:30px' >

  <% pa  = object.place_activity %>
  <div class="what" style="padding:5px;margin-right:5px;width:140px;float:left;">
    <%= link_to (pa.activity.name), activity_path(:id=>pa.activity.id)%>
  </div>
  <div class="where" style="padding:5px;margin-right:5px;width:135px;float:left">
    <% if pa.place.id != ANYWHERE_PLACE_ID %>
      <%= link_to (pa.place.name), place_activity_path(:id=>pa.id) %>
    <%  else %>
      <%=pa.place.name%>
    <% end %>
  </div>
  <div class="when" style="padding-left:5px;padding-right:5px;margin-right:5px;width:85px;float:left;">
    <% if object.day_of_week == 0 && object.time_of_day ==0 %>
                  Anytime
    <% else %>
      <%=dotw(object.day_of_week) + " <br /> " + tod(object.time_of_day)%>
    <% end %>
  </div>
  <div id='who' style="margin-right:5px;width:85px;float:left;">
    <% users = User.search_users_pictures(params, current_user, object.place.id, object.activity.id) %>
    <%= render :partial  => "shared_objects/user_pictures", :collection => users %>
    <% if users.total_entries > 3 %>
      <%= " and " +  (users.total_entries-3).to_s + " more ..." %>
    <% end %>
  </div>
  <div class="actions" style=";width:41px;float:left">
    <% if controller_name == 'search' || controller_name == 'user_favorites' %>
      <%  if logged_in? && !current_user.user_place_activities.include?(object) && controller_name != 'user_favorites' %>
        <%= link_to image_tag("HPThumbUp.png", :width=>20,:padding=>'3px',:class => " tooltip ", :title => I18n.translate("Add_to_favorites")), '#', 'data-href' => "/user_place_activities/free?add_type=neither&activity_id="+pa.activity_id.to_s+"&place_id="+pa.place_id.to_s, :class => "add_activity" %>
      <%  elsif  logged_in?    %>
        <%= link_to image_tag("HPThumbDown.png", :width=>20,:padding=>'3px',:class => " tooltip ", :title => I18n.translate("Remove_from_favorites")), '/user_place_activities/delete?activity_id =' + object.activity_id.to_s + '&place_id=' + object.place_id.to_s, 'data-href' => '/account/delete_user_place_activity?activity_id = ' + object.activity_id.to_s + ' &place_id = ' + object.place_id.to_s,:activity_id => object.activity_id, :place_id => object.place_id, :class => "remove_place_activity" %>
      <%  end %>
    <% end %>
    <div style="float:left">
    </div>
  </div>
</div>
<div class="clear"></div>
