  <%= hidden_field_tag "t", params[:t] %>
  <div id="simple_search" style="width:230px;float:left;">
	<% form_for @search_criteria, :url => search_path, :method => :get, :id => "simple_search" do |f| %>
	<%= hidden_field_tag 'search_criteria[type]', @search_criteria.type, :id=>'search_criteria_type' %>
	<div class="section_header" >
		<div style="float:left;width:54px">
			<h3 class="section_name">Simple Search</h3>
		</div>
		<div class="section_extra"></div>
		<div class="clear">&nbsp;</div>
	</div>	 
	<%= text_field_tag 'search_criteria[keyword]', @search_criteria.keyword, :id => "search_criteria[keyword]", :class => 'input_text' %><br />
    <br />
	<div class="clear">&nbsp;</div>
	<div id="simple_search_submit" style="float:left;">
		<%= submit_button ("People", :id=> "people_search_button") %>    
	</div>
	<div id="simple_search_submit" style="float:left;">
		<%= submit_button ("Places", :id=> "place_search_button", :style=>"padding-left:2px") %>    
	</div>
	<div id="simple_search_submit" style="float:left;">
		<%= submit_button ("Activities", :id=> "activity_search_button", :style=>"padding-left:2px") %>    
	</div>

  </div>
  <%= hidden_field_tag "t", params[:t] %>
  <div id="advanced_search" style="width:300px;float:left;">



	<div class="section_header" >
		<div style="float:left;width:54px">
			<h3 class="section_name">Advanced Search</h3>
		</div>
		<div class="section_extra"></div>
		<div class="clear">&nbsp;</div>
	</div>
	<label class="search_criteria_header" style="padding-top:0px">People</label><br \>
	<%= drop_down('search_criteria[sex]', @search_criteria.sex, {:width => '60px'},[['Men','1'],['Women','2']]) %>
	<div style="float:left;width:80px; text-align:center">Looking for</div>
    <%= drop_down('search_criteria[sex_preference]', @search_criteria.sex, {:width => '60px'},[['Men','1'],['Women','2']]) %>
	<div class="clear">&nbsp;</div>
	<%= drop_down('search_criteria[lower_age]', @search_criteria.lower_age, {:width => '90px'},age_options) %>
	<div style="float:left;width:40px; text-align:center">to</div>
	<%= drop_down('search_criteria[upper_age]', @search_criteria.upper_age, {:width => '90px'},age_options) %>
    <div class="clear">&nbsp;</div>
    <label class="search_criteria_header" style="padding-top:0px":float:left>Place</label><br \>
    <%= drop_down('search_criteria[place_category]', @search_criteria.place_category, {:width => '170px'},place_category_options, 'Any place','0') %>
    <br />
	<div class="clear">&nbsp;</div>
	<div class="float:left" id="postcodesearch">
	  <%= drop_down('search_criteria[distance]', @search_criteria.distance, {:width => '100px'},distance_options, 'Any distance') %>
	  <div style="float:left; text-align:center;width:60px">
   	     from 
      </div>
      <div style="float:left"
	    <%= text_field_tag 'search_criteria[postcode]', @search_criteria.postcode, :class => 'input_text', :style=> 'width:60px'%><br />	
	  </div>
    </div>
	<div class="clear">&nbsp;</div>
	<label class="search_criteria_header" style="padding-top:0px":float:left>Activity</label><br \>
	<div id="activity_category" style="margin-top:10px">	
	  <%= drop_down('search_criteria[activity_category]', @search_criteria.activity_category, {:width => '200px'},activity_category_options, 'Any activity') %>
	</div>
	<div class="clear">&nbsp;</div>
	<div id="advanced_search_submit" style="float:left;text-align:center; margin-top:15px">
		<%= submit_button ("Search", :id=> "advanced_search_button", :style=>"padding-left:2px") %>    
	</div>
    <%end%>
  </div>
  <div class="clear">&nbsp;</div>

<script type="text/javascript" charset="utf-8">
 	$('#people_search_button').live('click', function() {
	  $('#search_criteria_type').val(1);
	});
	$('#place_search_button').live('click', function() {
	  $('#search_criteria_type').val(2);
	});
	$('#activity_search_button').live('click', function() {
	  $('#search_criteria_type').val(3);
	});
	$('#advanced_search_button').live('click', function() {
	  $('#search_criteria_type').val(4);
	});


</script>


