<% content_for :c3 do %>
&nbsp;
<% end %>


<%= hidden_field_tag "t", params[:t] %>
<% form_tag search_path, :method => :get, :id => "simple_search" do |f| %>
	<div id="simple_search" style="width:230px;float:left;margin-right:20px">
		<%= hidden_field_tag 'search_criteria[type]', @search_criteria.type, :id=>'search_criteria_type' %>
		<div class="section_header" >
			<div style="float:left;width:54px">
				<h3 class="section_name">Simple Search</h3>
			</div>
			<div class="section_extra"></div>
			<div class="clear">&nbsp;</div>
		</div>	 
		<div >
			Use simple search to find people, places or activities
		</div>
		<br/>
		<%= text_field_tag 'search_criteria[keyword]',  'Enter keyword', :id => "search_criteria_keyword", :class => 'input_text' %><br />
		<br />
		<div class="clear">&nbsp;</div>
		<div id="simple_search_submit" style="float:left;">
			<%= submit_button ("People", :id=> "people_search_button") %>    
		</div>
		<div id="simple_search_submit" style="float:left;">
			<%= submit_button ("Places", :id=> "place_search_button", :style=>"padding-left:2px") %>    
		</div>
		<div id="simple_search_submit" style="float:left;">
			<%= submit_button ("Activities", :id=> "activity_search_button", :style=>"padding-left:2px") %>    
		</div>
	</div>

	<div id="advanced_search" style="width:280px;float:left;">
		<div class="section_header" >
			<div style="float:left;width:54px">
				<h3 class="section_name">Advanced Search</h3>
			</div>
			<div class="section_extra"></div>
			<div class="clear">&nbsp;</div>
		</div>
		<div >
			Use advanced search to see who is doing what, where
		</div>
		<br/>
		<label class="search_criteria_header" style="padding-top:0px">People</label><br \>
		<div style="padding-top:5px;">
			<%= drop_down('search_criteria[sex]', @search_criteria.sex, {:width => '70px'},[['Man','1'],['Woman','2']]) %>
			<div style="float:left;width:100px; text-align:center">Looking for</div>
		    <%= drop_down('search_criteria[sex_preference]', @search_criteria.sex_preference, {:width => '70px'},[['Men','1'],['Women','2'],['Both','3']]) %>
		</div>
		<div class="clear">&nbsp;</div>
		<div style="margin-top:3px">
			<%= drop_down('search_criteria[lower_age]', @search_criteria.lower_age, {:width => '100px'},age_options) %>
			<div style="float:left;width:40px; text-align:center">to</div>
			<%= drop_down('search_criteria[upper_age]', @search_criteria.upper_age, {:width => '100px'},age_options) %>
		</div>
		<div class="clear">&nbsp;</div>
		<div style="margin-top:10px">
		   <label class="search_criteria_header" style="padding-top:10px":float:left>Place</label><br \>
			<div style="float:left;margin-top:5px" >
		   <%= drop_down('search_criteria[place_category]', @search_criteria.place_category, {:width => '255px'},place_category_options, 'Any place','0') %>
	    	</div>
		</div>
		<div class="clear">&nbsp;</div>
		<div style="float:left;margin-top:3px" id="postcodesearch">
			<%= drop_down('search_criteria[distance]', @search_criteria.distance, {:width => '135px'},distance_options, 'Any distance','0') %>
		  	<div style="float:left; text-align:center;width:60px">
		  	     from 
		     </div>
		     <div style="float:left"
		    	<%= text_field_tag 'search_criteria[postcode]', @search_criteria.postcode, :class => 'input_text', :style=> 'width:60px'%><br />	
		  	 </div>
		</div>
		<div class="clear">&nbsp;</div>
		<div style="float:left;margin-top:10px">
			<label class="search_criteria_header" style="padding-top:0px":float:left>Activity</label><br \>
			<div id="activity_category" style="margin-top:5px">	
			  	<%= drop_down('search_criteria[activity_category]', @search_criteria.activity_category, {:width => '255px'},activity_category_options, 'Any activity','0') %>
			</div>
		</div>
		<div class="clear">&nbsp;</div>
		<div id="advanced_search_submit" style="float:left;text-align:center; margin-top:15px">
			<%= submit_button ("Search", :id=> "advanced_search_button", :style=>"padding-left:2px") %>    
		</div>
    </div>
<%end%>
<div class="clear">&nbsp;</div>

<script type="text/javascript" charset="utf-8">
 	$('#people_search_button').live('click', function() {
	  $('#search_criteria_type').val(1);
	});
	$('#place_search_button').live('click', function() {
	  $('#search_criteria_type').val(2);
	});
	$('#activity_search_button').live('click', function() {
	  $('#search_criteria_type').val(3);
	});
	$('#advanced_search_button').live('click', function() {
	  $('#search_criteria_type').val(4);
	});
</script>


