

<div id="map_canvas" style="width: 560px; height: 540px; overflow: hidden;"></div>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= getmapsapikey(request.url) %>&sensor=true" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  var map = new GMap2(document.getElementById("map_canvas"));
  var custIcon = new GIcon(G_DEFAULT_ICON);
  custIcon.iconSize = new GSize(16, 16);
  custIcon.shadowSize = new GSize(20, 20);
  custIcon.iconAnchor = new GPoint(0, 0);
  custIcon.infoWindowAnchor = new GPoint(10,0);
  var dotIcon = new GIcon(custIcon, '/images/map_dot-20px.png');
  map.addControl(new GSmallZoomControl())
  var sw = new GLatLng(<%=  51.500152 %>, <%= -0.126236  %>);
  var ne = new GLatLng(<%=  51.502152 %>, <%= -0.122236 %>);
  var bounds = new GLatLngBounds(sw,ne);
  map.setCenter(bounds.getCenter(), 13);
  map.enableInfoWindow()
  
  map.addControl(new GMapTypeControl())
  map.setMapType(G_NORMAL_MAP);
</script>
