
<div class="column_subheader">
  <h2>Click on the map to find people and places</h2>
</div>
<% form_tag '/search', :method => "get", :id=>'search_form' do  %>
  <%= hidden_field_tag 'search_criteria[type]', '5', :class => "header_input_text" %>
  <%= hidden_field_tag 'search_criteria[sex_preference]', current_user.sex_preference, :class => "header_input_text" %>
  <%= hidden_field_tag 'search_criteria[lower_age]', [current_user.age_preference-1], :class => "header_input_text" %>
  <%= hidden_field_tag 'search_criteria[upper_age]', [current_user.age_preference+1], :class => "header_input_text" %>
<% end %>

<div id="map_canvas" style="width: 556px; height: 200px; overflow: hidden;">

</div>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= getmapsapikey(request.url) %>&sensor=true" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  var small_map = new GMap2(document.getElementById("map_canvas"));
  var custIcon = new GIcon(G_DEFAULT_ICON);
  custIcon.iconSize = new GSize(16, 16);
  custIcon.shadowSize = new GSize(20, 20);
  custIcon.iconAnchor = new GPoint(0, 0);
  custIcon.infoWindowAnchor = new GPoint(10,0);
  var dotIcon = new GIcon(custIcon, '/images/map_dot-20px.png');
 
  var sw = new GLatLng(<%=  51.500152 %>, <%= -0.126236  %>);
  var ne = new GLatLng(<%=  51.502152 %>, <%= -0.122236 %>);
  var bounds = new GLatLngBounds(sw,ne);
  small_map.setCenter(bounds.getCenter(), 12);
  small_map.enableInfoWindow()  
  small_map.disableDragging() 


  small_map.setMapType(G_NORMAL_MAP);


	
  GEvent.addListener(small_map, "click", function() {
	
	
    $('#search_form').submit();
  });

  $.ajax({
    type: "GET",
    url: '/search/map',
    data: {"search_criteria[type]" : "5","search_criteria[age_preference]" : "<%= current_user.age_preference%>","search_criteria[age_preferences]" : "<%= current_user.sex_preference%>" },
    success: function(p) {
      var x = eval(p);
      var marker= new Array();
      for(var i =0; i < x.length; i++)
      {
        var point = new GLatLng(x[i].place.latitude, x[i].place.longitude)
        var marker = createMarker(point);
        small_map.addOverlay(marker);
      }
    }
  });
	

  
  function createMarker(point) {
    var marker = new GMarker(point,{ icon: dotIcon });
	        

    return marker;
  }
</script>
