<h3 class="section">Edit info</h3>
<% form_for current_user, :url => account_path, :html => { :multipart => true } do |f| %>
  <p>
    <label>First name</label>
    <%= text_field_tag 'user[first_name]', current_user.first_name || 'First name', :class => 'input_text' %>
  </p>

  <p>
    <label>Email</label>
    <%= text_field_tag 'user[email]', current_user.email || 'Email address', :class => 'input_text' %><br />
  </p>
  
  <label>Description</label>
  <div id="description">
    <%= text_area_tag 'user[description]', current_user.description, :id => "user_description", :class => "word_count" %>
  </div>

	<label>Post code</label>
  	<%= text_field_tag 'user[postcode]', current_user.postcode || 'Post code', :class => 'input_text' %><br />

  <label style="margin-top: 5px;">Your gender</label>
  <div class='fancy_select'>
    <%= hidden_field_tag 'user[sex]', current_user.sex %>
    <div class="fancy_select_target">
      <% if current_user.sex == User::Sex::MALE %>
      Male
      <% else %>
      Female
      <% end %>
    </div>
    <div class="fancy_select_options">
      <p>Male <span class="hidden_value"><%= User::Sex::MALE %></span></p>
      <p>Female <span class="hidden_value"><%= User::Sex::FEMALE %></span></p>
    </div>
  </div>

  <label style="margin-top: 5px;">Looking for</label>
  <div class='fancy_select' style="margin-top: 0px">
    <%= hidden_field_tag 'user[sex_preference]', current_user.sex_preference %>
    <div class="fancy_select_target">
      <% if current_user.sex_preference == User::Sex::MALE  %>
      Male
      <% elsif current_user.sex_preference == User::Sex::FEMALE  %>
      Female
      <% else  %>
      Both
    <% end %>
      </div>
	  <div class="fancy_select_options">
	   <p>Male <span class="hidden_value"><%= User::Sex::MALE %></span></p>
	   <p>Female <span class="hidden_value"><%= User::Sex::FEMALE %></span></p>
	   <p>Both <span class="hidden_value"><%= User::Sex::BOTH %></span></p>          
	  </div>
	</div>
<label style="margin-top: 5px;">Age preference</label>
     <div class='fancy_select'>
    		<%= hidden_field_tag 'user[age_preference]' , current_user.age_preference%>
    		<div class="fancy_select_target">
			<%= age_options[current_user.age_preference-1][0] %>
	
			</div>
    		<div class="fancy_select_options">
      		<% age_options.each do |op| %>
      		<p><%= op[0] %> <span class="hidden_value"><%= op[1] %></span></p>
      		<% end %>
    		</div>
  	</div>


<!--*******************************-->
	<label style="margin-top: 5px;">Date of Birth</label>
	<%= hidden_field_tag 'user[dob]', current_user.dob %>
	<span>
	<div class='fancy_select', style="width:40px; float:left">
		<%= hidden_field_tag 'day',current_user.dob.day %>
		<div class="fancy_select_target">
		   	<%= current_user.dob.day()%>
		</div>
		<div class="fancy_select_options" , style="width:40px">
	    		<% (1..31).each do|m|%>
					<p><%=m%> <span class="hidden_value"><%= m %></span></p>
				<% end %>
		</div>
	  </div
	  <div class='fancy_select', style="width:86px; float:left">
		<%= hidden_field_tag 'month',current_user.dob.month  %>
	  	<div class="fancy_select_target">
		   	<%= Date::MONTHNAMES[current_user.dob.month]%>
		</div>
		<div class="fancy_select_options", style="width:86px">
			<% i = 0 %>
	    		<% Date::MONTHNAMES.each do|m|%>
					<p><%=m%> <span class="hidden_value"><%= i %></span></p>
					  <% i+=1 %>
				<% end %>
		</div>
	</div>
	  <div class='fancy_select' , style="width:50px; float:left">
			<%= hidden_field_tag 'year',current_user.dob.year %>	
	  	<div class="fancy_select_target" >
		  <%= current_user.dob.year()%>
		</div>
		<div class="fancy_select_options" , style="width:50px">
	    		<% (DateTime.now.year-18).downto(DateTime.now.year - 100) do|m|%>
					<p><%=m%> <span class="hidden_value"><%= m %></span></p>
				<% end %>
		</div>
		</div>
	</span>
	<div style="clear:left;"> </div>
<!--***************************-->
  
  
  <br />
  
  <label>Icon</label>
  <div>
    <%= f.file_field :icon %>
  </div>
  
  <br>
  
  <%= submit_button('Save') %>
  
<% end %>