
<div class="column_header">
  <span>
    <h2>Edit details</h2>
  </span>
</div>
<% form_for current_user, :url => account_path, :html => { :multipart => true } do |f| %>
  <p>
    <label>First name</label>
    <%= text_field_tag 'user[first_name]', current_user.first_name || 'First name', :class => 'input_text' %>
    <% if current_user.errors.length != 0 && current_user.errors.on(:first_name)!=nil%>
      <span class='error'><%= 'First Name ' + current_user.errors.on(:first_name) %></span>
    <% end %>
  </p>
  <p>
    <label>Email</label>
    <%= text_field_tag 'user[email]', current_user.email || 'Email address', :class => 'input_text' %>
    <% if current_user.errors.length != 0 && current_user.errors.on(:email)!=nil%>
      <% if current_user.errors.on(:email).length == 1 %>
        <span class='error'><%= 'Email ' + current_user.errors.on(:email) %></span>
      <% else %>
        <span class='error'><%= 'Email ' + current_user.errors.on(:email) %></span>
      <% end %>
    <% end %>
  </p>

  <label>Description</label>
  <div id="description">
    <%= text_area_tag 'user[description]', current_user.description, :id => "user_description", :class => "word_count" %>
    <% if current_user.errors.length != 0 && current_user.errors.on(:description)!=nil%>
      <% if current_user.errors.on(:description).length == 1 %>
        <span class='error'><%= 'Description ' + current_user.errors.on(:description) %></span>
      <% else %>
        <span class='error'><%= 'Description ' + current_user.errors.on(:description) %></span>
      <% end %>
    <% end %>
  </div>

  <label>Post code</label>
  <%= text_field_tag 'user[postcode]', current_user.postcode || 'Post code', :class => 'input_text' %>
  <% if current_user.errors.length != 0 && current_user.errors.on(:postcode)!=nil%>
    <% if current_user.errors.on(:postcode).length == 1 %>
      <span class='error'><%= 'Postcode ' + current_user.errors.on(:postcode) %></span>
    <% else %>
      <span class='error'><%= 'Postcode ' + current_user.errors.on(:postcode) %></span>
    <% end %>
  <% end %>

	
	<label style="margin-top: 10px;">Your gender</label>
	<div class="clear"></div>
	<%= std_drop_down('user[sex]', current_user.sex, {:width => '150px'},gender_options, 'Select a gender', '') %><br />
	<label style="margin-top: 10px;">Looking for</label>
	<div class="clear"></div>
	<%= std_drop_down('user[sex_preference]', current_user.sex_preference , {:width => '150px'},gender_preference_options, 'Gender preference', '') %><br />
	<label style="margin-top: 10px;">Age preference</label>
	<div class="clear"></div>
	<%= std_drop_down('user[age_preference]', current_user.age_preference, {:width => '150px'},age_options, 'Around the age', '') %><br />

	<label style="margin-top: 10px;">Date of Birth</label>
	<div class="clear"></div>
	<span>
		<%= std_drop_down('day', current_user.dob.day, {:width => '60px'},day_options, 'Day', '') %>
		<%= std_drop_down('month', current_user.dob.month, {:width => '86px'},month_options, 'Month', '') %>
		<%= std_drop_down('year', current_user.dob.year, {:width => '70px'},year_options, 'Year', '') %>
    </span>
<br />
  <div style="clear:left;"> </div>

  <br />

  <label>Picture</label>
  <div>
    <%= f.file_field :icon %>
  </div>

  <br />


<%= link_to "Change Password", :controller=>'passwords', :action=>"edit", :id=>'change_password' %>
<br />
<br />
  <%= submit_button('Save') %>

<% end %>