<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= stylesheet_link_tag %w(960  text signup application) %>
  <%= javascript_include_tag "jquery-1.3.2", 'jquery.autocomplete.js', 'jquery.charcounter.js', 'jquery.form.js', 'application', 'signup' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>
  <div id="container" class="container_16">
    <div style="width:172px;float:left" id="logo1">
        <%= image_tag "logo.png", :style=>'width:100px' %>
    </div>
    <div style="float:left;width:600px; font-size:16px" id="copy1">
      Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.
    </div>
    <div class="clear"></div>
    
	<div id="step_container">
    	<div id="step_text" class="step_text">
			<div class="clearfix"></div>
			<div id="step_1_text" class = "step_desc" >
				<h4><strong>step 1</strong> : step 2 : step 3</h4><br \>
				Please choose a user name and enter your account information
			</div>
			<div id="step_2_text" class = "step_desc" style="display: none;">
				<h4>step 1 : <strong>step 2</strong> : step 3</h4><br \>
				Nice job! We've sent you an email with a link we need you to visit in order to confirm your account.
			        But don't worry about that right now. Instead go ahead and fill out the info to the right. Don't forget to add a photo!
			</div>
			<div id="step_3_text" class = "step_desc" style="display: none;">
				<h4>step 1 : step 2 : <strong>step 3</strong></h4><br \>
				Looking good. One last step. We need you to add one activity that you like to do or place you like to go. This helps us get a better understanding of the things you like and we can begin matching you with other people.
			</div>
		</div>
	</div>
	<div class="clear"></div
    <div id="step_1" class="step">
			<div class="step_1_container">
    			<% form_for @user, :url => account_path do |f| %>
				<p>
				<label  style="margin-top: 5px; color:#990000;">First name</label>
				<div class="clear"></div>
				<%= text_field_tag 'user[first_name]', @user.first_name || 'First name', :class => 'input_text' %>
				<span class="error"></span>
				</p>
				<p>
				<label  style="margin-top: 5px; color:#990000;">Username</label>
				<div class="clear"></div>
				 <%= text_field_tag 'user[username]', @user.username || "Username", :class => 'input_text' %>
				 <span class="error"></span>
				</p>
				<p>
				<label  style="margin-top: 5px; color:#990000;">Password</label>
				<div class="clear"></div>
				 <%= text_field_tag 'password_holder', 'Password', :class => 'input_text' %>
				 <%= f.password_field :password, :class => 'input_text', :style => 'display: none;' %>
				 <span class="error"></span>
				</p>
				<p>
				<label  style="margin-top: 5px; color:#990000;">Password confirmation</label>
				<div class="clear"></div>
				 <%= text_field_tag 'password_confirmation_holder', 'Password confirmation', :class => 'input_text' %>
				 <%= f.password_field :password_confirmation, :class => 'input_text', :style => 'display: none;' %>
				 <span class="error"></span>
				</p>
				<p>
				<label  style="margin-top: 5px; color:#990000;">Email address</label>
				<div class="clear"></div>
				 <%= text_field_tag 'user[email]', @user.email || 'Email address', :class => 'input_text' %>
				 <span class="error"></span>
				</p>
				<p>
				<label  style="margin-top: 5px; color:#990000;">Post Code</label>
				<div class="clear"></div>
				 <%= text_field_tag 'user[postcode]', @user.postcode || 'Post code', :class => 'input_text' %>
				 <span class="error"></span>
				</p>
			  	<div>
      			<%= image_submit_tag 'save_info.png', :height => "20px", :width => "70px", :style => "margin-top:5px" %>
    			</div>
  			<% end %>
  			</div>
	</div>
	<div id="step_2" class="step" style="display: none;" >
	  <div id="step_2_container">
      	<div id="upload_container" style="display: none;">
      	<% form_tag "/update", :multipart => true, :target => "image_upload", :id => "photo_upload" do%>
       		<%= file_field(:user , :icon, :style => "position: absolute;")%>
		<% end %>
      	</div>
      	<div id="add_photo">Add photo</div>
    	<% form_tag '/account/', :method => "put", :id => "details_update" do %>
      	<label  style="margin-top: 5px; color:#990000;">Description</label>
      	<div id="description">
        			<%= text_area_tag 'user[description]', 'Give us a line that sums you up', :id => "user_description", :class => "word_count" %>
      		</div>
    	<label  style="margin-top: 5px; color:#990000;">Your gender</label>
      	<div class='fancy_select'>
        		<%= hidden_field_tag 'user[sex]' %>
        		<div class="fancy_select_target">Select a gender</div>
        		<div class="fancy_select_options">
          		<p>Male <span class="hidden_value"><%= User::Sex::MALE %></span></p>
          		<p>Female <span class="hidden_value"><%= User::Sex::FEMALE %></span></p>
        		</div>
			</div>
		<div style="clear:both;"> </div>
		<label  style="margin-top: 5px; color:#990000;">Date of Birth</label>
		<div style="clear:both;"> </div>
		<%= hidden_field_tag 'user[dob]' %>
		<span>
			<div class='fancy_select', style="width:40px; float:left">
					<%= hidden_field_tag 'day' %>
					<div class="fancy_select_target">
			   			Day
					</div>
					<div class="fancy_select_options" , style="width:40px">
		    			<% (1..31).each do|m|%>
						<p><%=m%> <span class="hidden_value"><%= m %></span></p>
						<% end %>
					</div>
		  		</div>
		  	<div class='fancy_select', style="width:86px; float:left">
					<%= hidden_field_tag 'month' %>
		  			<div class="fancy_select_target">
			   			Month
					</div>
					<div class="fancy_select_options", style="width:86px">
						<% i = 0 %>
		    			<% Date::MONTHNAMES.each do|m|%>

						<p><%=m%> <span class="hidden_value"><%= i %></span></p>
						  <% i+=1 %>
						<% end %>
					</div>
				</div>
		  	<div class='fancy_select' , style="width:50px; float:left">
					<%= hidden_field_tag 'year' %>	
		  			<div class="fancy_select_target" >
			  			Year
					</div>
					<div class="fancy_select_options" , style="width:50px">
		    			<% (DateTime.now.year-18).downto(DateTime.now.year - 100) do|m|%>
						<p><%=m%> <span class="hidden_value"><%= m %></span></p>
					<% end %>
					</div>
				</div>
		</span>
		<div style="clear:both;"> </div>
		<label  style="margin-top: 5px; color:#990000;">Gender preference</label>
      	<div class='fancy_select'>
        		<%= hidden_field_tag 'user[sex_preference]' %>
        		<div class="fancy_select_target">Looking for</div>
        		<div class="fancy_select_options">
          		<p>Male <span class="hidden_value"><%= User::Sex::MALE %></span></p>
          		<p>Female <span class="hidden_value"><%= User::Sex::FEMALE %></span></p>
          		<p>Both <span class="hidden_value"><%= User::Sex::BOTH %></span></p>          
        		</div>
      	</div>
    	<label  style="margin-top: 5px; color:#990000;">Age preference</label>
      	<div class='fancy_select'>
        		<%= hidden_field_tag 'user[age_preference]' %>
        		<div class="fancy_select_target">Around the age</div>
        		<div class="fancy_select_options">
          		<% age_options.each do |op| %>
          		<p><%= op[0] %> <span class="hidden_value"><%= op[1] %></span></p>
          		<% end %>
        		</div>
      	</div>
		<div class="image_submit">
        		<%= image_submit_tag 'save_info.png', :height => "20px", :width => "70px" %>
    	</div>
		<% end %>
	  </div>
	</div>
    <div id="step_3" class="step" style="display: none;">
  		<div id="step_3_container">
			<% form_tag('/account/activities', :id => "pa_select") do    %>
			<%= render :partial => "user_place_activities/new_user_place_activity_signup" , :locals => {:user_place_activity => UserPlaceActivity.new} %>
  			<div class="clear"></div>   
			<%= text_field_tag "activity_error","",:style => "display:none; width:250px" %>
  			<div class="clear"></div>   
			<div class="image_submit" style="float:left">
				<div  style="float:left;">
					<%= submit_button ("Add activity") %>    
				</div>
				<div style="float:left;">
					<%= submit_button ("Finish", :id=> "finished") %>    
				</div>
			</div>
			<div class="clear"></div>
    			<div id="activities_container" style="float:left; margin-top:10px;">
				<div class="clear"></div>
    			<strong> Your activities </strong> <br \>
    				<div id="user_place_activities" style="float:left; margin-top:5px">
	  					Please add some activities
    				</div>
				</div>
    			<% end %>
  			</div>
    	</div>
		<div class="clear">&nbsp;</div>
	</div>
	</div>
  </div>
</body>
</html>