<% content_for :c3 do %>
  &nbsp;
<% end %>
<% content_for :c1 do %>
  &nbsp;
<% end %>
<% content_for :message do %>
  <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>
<% end %>

<div class="column_header">
  <span>
    <h2 id="step_header">Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="signup_header_step1" style="font-size:16px;font-weight:bold">Step 1</span> &nbsp;>&nbsp; <span  id="signup_header_step2">Step 2</span>&nbsp;>&nbsp; <span  id="signup_header_step3">Step 3</span></h2>
  </span>
</div>

<div id="step_container">
  <div id="step_text" class="step_text">
    <div class="clearfix"></div>
    <div id="step_1_text" class = "step_desc" >
      <h3>Please choose a user name and enter your account information</h3>
    </div>
    <div id="step_2_text" class = "step_desc" style="display: none;">
      <h3>Nice job! We've sent you a confirmation email.
					But don't worry about that right now. Instead go ahead and fill out the info below. Don't forget to add a photo!</h3>
    </div>
    <div id="step_3_text" class = "step_desc" style="display: none;">
      <h3>Looking good. One last step. We need you to add some activities that you like to do or places you like to go. This helps us get a better understanding of the things you like and we can begin matching you with other people.</h3>
    </div>
  </div>
</div>
<div class="clear"></div>




<div id="step_1" class="step" style='display:block;'>
  <div class="step_1_container">
    <% form_for @user, :url => account_path do |f| %>
      <div style="float:left;width:500px">
        <label  class='sign_up_label'>First name</label>
        <div class="clear"></div>
        <%= text_field_tag 'user[first_name]', @user.first_name || 'First name', :class => 'input_text' %>
        <span class="error"></span>
        <div class="clear"></div>

        <label class='sign_up_label'>Username</label>
        <div class="clear"></div>
        <%= text_field_tag 'user[username]', @user.username || "Username", :class => 'input_text' %>
        <span class="error"></span>
        <div class="clear"></div>

        <label  class='sign_up_label'>Password</label>
        <div class="clear"></div>
        <%= text_field_tag 'password_holder', 'Password', :class => 'input_text' %>
        <%= f.password_field :password, :class => 'input_text', :style => 'display: none;' %>
        <span class="error"></span>
        <div class="clear"></div>

        <label  class='sign_up_label'>Password confirmation</label>
        <div class="clear"></div>
        <%= text_field_tag 'password_confirmation_holder', 'Password confirmation', :class => 'input_text' %>
        <%= f.password_field :password_confirmation, :class => 'input_text', :style => 'display: none;' %>
        <span class="error"></span>
        <div class="clear"></div>

        <label  class='sign_up_label'>Email address</label>
        <div class="clear"></div>
        <%= text_field_tag 'user[email]', @user.email || 'Email address', :class => 'input_text' %>
        <span class="error"></span>
        <div class="clear"></div>

        <label  class='sign_up_label'>Date of Birth</label>
        <div class="clear"></div>
        <%= hidden_field_tag 'user[dob]' %>
        <span>
          <%= std_drop_down('day', 0, {:width => '60px'},day_options, 'Day', 0) %>
          <%= std_drop_down('month', 0, {:width => '86px'},month_options, 'Month', 0) %>
          <%= std_drop_down('year', 0, {:width => '70px'},year_options, 'Year', 0) %>
        </span>
        <span id='dob_error' class="error"></span>
        <div class="clear"></div>

        <label  class='sign_up_label'>Post Code</label>
        <div class="clear"></div>
        <%= text_field_tag 'user[postcode]', @user.postcode || 'Post code', :class => 'input_text' %>
        <span class="error"></span>
      </div>



      <div style="clear:both;"> </div>
      
      <div style="clear:both;width:555px">
        <div id="step_1_text" class = "step_desc" >
          <h3>And give us some information about yourself and who you are looking for</h3>
        </div>
        <br />

        I am a <%= std_drop_down('user[sex]', 1, {:width => '90px'},gender_options, '', '') %> looking for  <%= std_drop_down('user[sex_preference]', 2, {:width => '90px'},gender_preference_options, '', '') %> in their <%= std_drop_down('user[age_preference]', 1, {:width => '120px'},age_options, '', '') %> <br />

        My Height <%= std_drop_down('feet', 0, {:width => '40px'},feet_options, ' ', '0') %>  feet &nbsp;<%= std_drop_down('inches', -1, {:width => '50px'},inches_options, ' ', '-1') %>  inches<br />
        My Build <%= std_drop_down('user[body_type]', 0, {:width => '150px'},body_type_options, 'Not specified', '0') %><br />

        <br />



        <div style="float:left">
          <label  style="font-size:10px">Are you human? Please enter the text from the image below </label>
          <div>
            <%= show_simple_captcha(:label => " ") %>
            <span class="error"></span>
          </div>
        </div>
        <div style="float:left">
          <br />
          <%= submit_button 'Join HelloPulse!!!', :height => "30px", :width => "100px", :style => "margin-top:10px;margin-left:10px; font-size:14px" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div id="step_2" class="step" style="display: none;" >
  <div id="step_2_container">
    <div id="upload_container" style="display: none;">
      <% form_tag "/update", :multipart => true, :target => "image_upload", :id => "photo_upload" do%>
        <%= file_field(:user , :icon, :style => "position: absolute;")%>
      <% end %>
    </div>

    <div id="add_photo">Add photo</div>
    <% form_tag '/account/', :method => "put", :id => "details_update" do %>
      <div>
        <label  style="margin-top: 10px; color:#990000;">Description</label>
        <div id="description_panel">
          <%= text_area_tag 'user[description]', 'Give us a line that sums you up', :rows=>2, :cols=>45,:id => "user_description", :class => "word_count" %>
        </div>
      </div>

      <div class="image_submit; padding-top:10px">
        <%= submit_button "Save info", :height => "20px", :width => "70px" %>
      </div>
    <% end %>
  </div>
</div>
<div id="step_3" class="step" style="display: none; ">
  <div id="step_3_container">
    <% form_tag('/account/activities', :id => "pa_select") do    %>
      <% user_place_activity = UserPlaceActivity.new %>
      <label  style="margin-top: 5px; color:#990000;">What do you enjoy doing?</label>
      <div class="clear"></div>
      <div style="float:left;">

        <div id="activity_category_div" style="margin-top:10px">
          <label  style="margin-top: 5px; color:#990000;">What do you like doing?</label>
          <div class="clear"></div>
          <%= std_drop_down('activity_category_id', 0, {:width => '223px'},activity_category_options, 'Any category', 0, 'activity_category_hidden','activity_category_select') %><br />
          <div class="clear"></div>
          <%= std_drop_down('activity_id', 0, {:width => '223px', :leftmargin => '15px'},gender_options, 'Any activity', 0, 'activity_hidden', 'activity_select' ) %><br />
          <div class="clear"></div>
        </div>
      </div>
      <br />
      <br />
      <div class="clear"></div>
      <div style="float:left; margin-top:15px">
        <label  style="margin-top: 5px; color:#990000;">Where do you like doing it?</label>
        <div class="clear"></div>

        <%= hidden_field_tag 'place_id', ANYWHERE_PLACE_ID, :id => 'place_id' %>
        <%= text_field_tag :place_name,
          (user_place_activity.place.present? ? user_place_activity.place.name : nil),
          :class => "input_text", :disabled => user_place_activity.place.present?,
          :size => 50,
          "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
      %>
        <div class='clear'></div>
        <div style="margin-top:10px; float:left">
          <label  style="margin-top: 5px; color:#990000;">When do you do it?</label>
          <div class="clear"></div>
          <%= std_drop_down('user_place_activity[day_of_week]', '0', {:width => '130px',:id=>'day_of_week'},dotw_options, 'Any day',0) %>&nbsp;
          <div style="width:10px;float:left;">&nbsp;</div>
          <%= std_drop_down('user_place_activity[time_of_day]', '0', {:width => '200px',:id=>'time_of_day'},tod_options, 'Any time',0) %>


        </div>

        <div class="clear"></div>
        <div style="margin-top:10px; float:left; margin-top:15px">
          <label style="margin-top: 5px; color:#990000;">Why do you like this place?</label>
          <div class="clear"></div>
          <%= text_area_tag('user_place_activity[description]',USER_PLACE_DESCRIPTION_TEXT, :rows => 2, :cols=>60,:class => "input_text word_count") %>
        </div>

      </div>
      <div class="clear"></div>
      <%= text_field_tag "activity_error","",:style => "display:none; width:250px" %>
      <div class="clear"></div>
      <div class="image_submit" style="float:left">
        <div  style="float:left;">
          <%= submit_button ("Add activity") %>
        </div>

      </div>
      <div class="clear"></div>
      <div id="activities_container" style="float:left; margin-top:10px;">
        <div class="clear"></div>



        <div style="float:left;width:556px; margin-bottom:4px;">
          <h3 style="width:556px;font-size:14px" class="section_name">Your activities</h3>
        </div>
        <div class="clear">&nbsp;</div>


        <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">What</div>
        <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">Where</div>
        <div style="padding:5px;margin-right:5px;width:85px;float:left;text-align:center;background-color:#EDEDED;">When</div>
        <div style="padding:5px;margin-right:5px;width:93px;float:left;text-align:center;background-color:#EDEDED;">Who</div>

        <div id="user_place_activities" style="float:left; margin-top:5px">
          Please add some activities
        </div>
      </div>
      <div style="float:left;">
        <%= submit_button("Finish", :id=> "finished") %>
      </div>
    <% end %>
  </div>
</div>













