<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
  <br />
  <div style="margin-bottom:5px">
    <%= render :partial => "shared/message" %>
  </div>
  <br />
  <%= render :partial => "user_favorites/user_favorited" %>
  
<% end %>

<% content_for :message do %>
  <h2>
    Hello <%= current_user.first_name %>, welcome back to HelloPulse.
    <% if current_user.unread_count > 0 %>
      You've received <%= link_to "#{current_user.unread_count} new messages", account_messages_path  %> and your
    <% else %>
      Your
    <% end %>
    profile has been viewed by <%= current_user.profile_views %> <%= current_user.profile_views == 1 ? 'person' : 'people' %>.
    <br />
    Add more <%=  link_to 'activities', '#', 'data-href' => "/user_place_activities/free?view=new", :class => "add_activity" %> to refine or increase your matches
  </h2>
<% end %>

<div class='clear'></div>

<%if @match_module.length>0%>
<div id='profile_matches' style="margin-bottom:10px">

    <%= render :partial => "users/matches", :locals => {:collection => @match_module} %>
    <div class='clear'></div>
  </div>
<%end%>


<div class='clear'></div>
<div id='small_map' style="margin-bottom:10px">
  <%= render :partial => "maps/small_map", :locals => {:collection => @updates} %>
</div>

<div class="column_subheader" style="margin-bottom:5px">
  <h2>Latest activity</h2>
</div>
<div  style="margin-top:5px">

  <%= render :partial => "shared_object_collections/feed_collection", :locals => {:collection => @updates} %>
</div>

