<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
<br />
  <%= render :partial => "shared/message" %>	
<% end %>

<% content_for :message do %>
    Hello <%= current_user.first_name %>, welcome back to HelloPulse. 
    <% if current_user.unread_count > 0 %>
    You've received <%= link_to "#{current_user.unread_count} new messages", account_messages_path  %> and your 
    <% else %>
    Your 
    <% end %>
    profile has been viewed by <%= current_user.profile_views %> <%= current_user.profile_views == 1 ? 'person' : 'people' %>.
<% end %>

<%= render :partial => "maps/small_map", :locals => {:collection => @updates} %>
<div style="float:left" id="activity_results">
<div class="section_header" >
	<div style="float:left;width:200px">
		<h3 style="width:100px;" class="section_name">Updates</h3>
	</div>
	<div class="clear">&nbsp;</div>
</div>
<%= render :partial => "shared_object_collections/feed_collection", :locals => {:collection => @updates} %>

