<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
<br />
  <%= render :partial => "shared/message" %>	
<% end %>

<% content_for :message do %>
<h2>
    Hello <%= current_user.first_name %>, welcome back to HelloPulse. 
    <% if current_user.unread_count > 0 %>
    You've received <%= link_to "#{current_user.unread_count} new messages", account_messages_path  %> and your 
    <% else %>
    Your 
    <% end %>
    profile has been viewed by <%= current_user.profile_views %> <%= current_user.profile_views == 1 ? 'person' : 'people' %>.
</h2>
<% end %>



<div class="column_header">
      <span>
      	<h2>Home</h2>
      </span>
</div>

<div style="float:left;width:556px; margin-bottom:4px;">
		<h3 style="width:556px;font-size:14px" class="section_name">Click on the map to find people and places</h3>
</div>
<div class='clear'></div>
<div id='small_map' style="margin-bottom:10px">
<%= render :partial => "maps/small_map", :locals => {:collection => @updates} %>
</div>

<div style="float:left;width:556px; margin-bottom:4px;">
		<h3 style="width:556px;font-size:14px" class="section_name">Activity feed</h3>
</div>

<%= render :partial => "shared_object_collections/feed_collection", :locals => {:collection => @updates} %>

