<div style="margin-bottom:10px">
  <div style="clear:both"></div>
  <div style="float:left">
    <span style="font-size:14px;font-weight:bold">
      <%= link_to object.start.strftime("%A %d %B %Y %I:%M %p"),'/user_events/'+object.id.to_s %>
    </span>
    &nbsp;&nbsp;
  <%= link_to "See who's going", '/user_events/'+object.id.to_s, :id=>'book', :class=>"", :style=>"float:right;height:18px", :event_id=>object.id%>
  
    <br />
    <%  if object.tickets_dispensed != 0%>
      &nbsp;(<%=object.tickets_dispensed - object.tickets_bought%> of <%=object.tickets_dispensed%> tickets left)
      <br />
    <% end %>
 <%  if object.tickets_dispensed_male != 0%>
    Guys: &nbsp;(<%=object.tickets_dispensed_male - object.tickets_bought_male%> of <%=object.tickets_dispensed_male%> tickets left)
    <br />
    <% end %>
     <%  if object.tickets_dispensed_female != 0%>
    Girls: &nbsp;(<%=object.tickets_dispensed_female - object.tickets_bought_female%> of <%=object.tickets_dispensed_female%> tickets left)
<% end %>

  </div>
 
  <div style="float-right">

    <%= link_to "book now", '/payments?event_id='+object.id.to_s, :id=>'book', :class=>"submit_act", :style=>"float:right;height:18px", :event_id=>object.id%>

  </div>
  <div style="clear:both"></div>
</div>

