
	<h3 class="section">Map</h3>
	<div id="map_canvas" style="width: 960px; height: 600px; overflow: hidden;"></div>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= getmapsapikey(request.url) %>&sensor=true" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
	  var map = new GMap2(document.getElementById("map_canvas"));
  
	  var custIcon = new GIcon(G_DEFAULT_ICON);
	  custIcon.iconSize = new GSize(8, 8);
	  custIcon.shadowSize = new GSize(20, 20);
	  custIcon.iconAnchor = new GPoint(0, 0);
	  var dotIcon = new GIcon(custIcon, '/images/map_dot.gif');
  

  	  var sw = new GLatLng(<%=  51.500152 %>, <%= -0.126236  %>);
	  var ne = new GLatLng(<%=  51.502152 %>, <%= -0.122236 %>);
	  var bounds = new GLatLngBounds(sw,ne);
	  map.setCenter(bounds.getCenter(), 13);

	  var customUI = map.getDefaultUI();
	  customUI.controls.scalecontrol = false;
	  customUI.controls.menumaptypecontrol = false;
	  customUI.controls.smallzoomcontrol3d = false;
	  customUI.zoom.scrollwheel = false;
	  customUI.zoom.doubleclick = false;

	  map.setUI(customUI);
	  map.setMapType(G_PHYSICAL_MAP);
	
	</script>
