<% @c3 = yield(:c3) %>
<% if @c3.present? %>
  <%= @c3 %>
<% else %>

<div class="column_header">
      <span>
      	<h2>Map</h2>
      </span>
</div>
	<div id="map_canvas" style="width: 184px; height: 320px; overflow: hidden;">
		
	</div>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= getmapsapikey(request.url) %>&sensor=true" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
	  var map2 = new GMap2(document.getElementById("map_canvas"));
  
	  var custIcon = new GIcon(G_DEFAULT_ICON);
	  custIcon.iconSize = new GSize(8, 8);
	  custIcon.shadowSize = new GSize(0, 0);
	  custIcon.iconAnchor = new GPoint(0, 0);
	  var dotIcon = new GIcon(custIcon, '/images/map_dot.gif');
 
  

		<% @latitude ||= 51.500152; @longitude ||= -0.126236 %> 
		  <% if @place %>
		    <% @latitude = @place.latitude %>
		    <% @longitude = @place.longitude %>
	      map2.addOverlay(new GMarker(new GLatLng(<%= @latitude %>, <%= @longitude %>), { icon: dotIcon }));
		  <% elsif @places && !@places.empty? %>
	      <% @latitude = @places.first.latitude %>
	      <% @longitude = @places.first.longitude %>
	      <% @places.each do |place| %>
	        map2.addOverlay(new GMarker(new GLatLng(<%= place.latitude %>, <%= place.longitude %>), { icon: dotIcon }));
	      <% end %>
		  <% end %>
	
	    map2.setCenter(new GLatLng(<%= @latitude %>, <%= @longitude %>), 16);


	  var customUI = map2.getDefaultUI();
	  customUI.controls.scalecontrol = false;
	  customUI.controls.menumaptypecontrol = false;
	  customUI.controls.smallzoomcontrol3d = false;
	  customUI.zoom.scrollwheel = false;
	  customUI.zoom.doubleclick = false;

	  map2.setUI(customUI);
	  map2.setMapType(G_PHYSICAL_MAP);
  


	</script>


<% end %>