<div class="object" id="<%= dom_id object %>">
	<% if object.is_a?(UserPlaceActivity) %>
	  <%= render :partial => "shared/user_place_activity", :object => object %> 
	<% elsif object.is_a?(UserActivity) %>
	  <%= render :partial => "shared/user_activity", :object => object, :locals => {:view => params[:view]} %> 
	<% else %>
	<div class="icon">
		<%= link_to image_tag(object.icon.url(:thumb), :width => '45px', :height => '45px'), object %>
	</div>
	<div class="info_container">
		<div class="info">
			<span>
	     		<%= link_to object.name, object %>
			</span>
	   	</div>
		<div class="category_info">
			<% case object 
	     		when Place
	     		%>
	     		<%= object.category %> 
			<% end %>
		</div>
		<div class="clear"></div>
		<div class="description">
	     		<% if controller_name == 'places' && object.is_a?(User) %>
	        	  <span class="fancy_quotes">&#8220;</span>
			      <%= object.description %>
			      <span class="fancy_quotes">&#8221;</span>
	  		    <% elsif object.is_a?(Place)%>
	     	      <span><%=object.neighborhood%> </span>
	     		<% elsif object.is_a?(User) %>
	     		  <span class="fancy_quotes">&#8220;</span><%= object.description %><span class="fancy_quotes">&#8221;</span>      
	     		<% end %>
	   	</div>
	    <div class="clear"></div>
	</div>
	<div class="actions">
		<% case object 
			when User%>
				<%= link_to image_tag("HPMail.png", :width=>20, :class => " tooltip", :title => "Send a mail"), account_message_path(object),'data-href' => account_message_path(object)  %>
				<%= (link_to image_tag("HPThumbUp.png", :width=>20, :class => " tooltip", :title => "Add to favorites"), "#",'data-href' => account_favorites_path, :class => "people_favorite", :friend_id => object.id) if !current_user.has_friend?(object.id)  %>
			    <%= (link_to image_tag("HPThumbDown.png", :width=>20, :class => " tooltip", :title => "Add to favorites"), "#",'data-href' => account_favorites_path, :class => "people_unfavorite", :friend_id => object.id) if current_user.has_friend?(object.id) %>
				
		<%  when Place %>
		<%    	if logged_in? && current_user.places.include?(object) %>
		<%=     link_to image_tag("HPEvent.png", :width=>20,:class => " tooltip ", :title => "Add to favorites"), '#', 'data-href' => new_account_event_path(:place_id => object.id), :place_id => object.id, :class => "add_event" %>
		<%=     	link_to(image_tag("HPThumbDown.png", :width=>20,:class => " tooltip", :title => "Remove from favorites"), '#',:place_id => object.id, :class => "remove_place")  %>
		<%    	else %>
		<%=     	link_to image_tag("HPThumbUp.png", :width=>20,:class => " tooltip ", :title => "Add to favorites"), '#', 'data-href' => new_account_place_activity_path(:place_id => object), :place_id => object.id, :class => "add_place" %>
		<%    	end %>
		<% end %>
	</div>
	<div class="clear"></div>
    <% end %>
  <div class="clear"></div>
</div>

