<div class="object" id="<%= dom_id object %>">
  <div class="icon" style="width:25;">

  </div>
  <div class="what">
	<%= link_to (object.activity.name), object.activity %>
  </div>
  <div class="where">
	<%= link_to (object.place.name), object.place %>
  </div>
  <div class="who">
  <% users = User.search_users_pictures(params, current_user, object.place_id, object.activity_id) %>

  <%= render :partial  => "shared/user_pictures", :collection => users %>
  <% if users.total_entries > 3 %>
    <%= " and " +  (users.total_entries-3).to_s + " more ..." %>
  <% end %>
  </div>
  <div class="actions">
	<%  if logged_in? && !current_user.user_place_activities.include?(object) %>
	  <%= link_to image_tag("HPThumbUp.png", :width=>20,:class => " tooltip ", :title => I18n.translate("Add_to_favorites")), '#', 'data-href' => new_account_activity_path(:activity_id => object.activity, :view => "add_activity"), :class => "add_activity" %>
	<%  elsif  logged_in?    %>
      <%= link_to image_tag("HPThumbDown.png", :width=>20,:class => " tooltip ", :title => I18n.translate("Remove_from_favorites")), '#', 'data-href' => new_account_activity_path(:activity_id => object.activity), :class => "remove_activity" %>
	<%  end %> 
	<div style="float:left">
	</div>
  </div>
</div>
 

 <div class="clear"></div>