<div class="icon">
	<%= link_to image_tag(object.activity.icon.url(:thumb), :width => '30px', :height => '30px'), object.activity %>
</div>
<div class="info_container">
	<div class="info">
		<span>
     		<%= link_to (object.activity.name), object.activity %>
		</span>
		
   	</div>
	<div class="clear"></div>
	<% if @view != nil && @view == "user_favorites" %>
	  <% places_count = UserPlaceActivity.all(:conditions => {"user_id" => current_user.id, "activity_id" => object.activity.id}).length %>
	  <% if places_count == 1 %>
	  	&nbsp;&nbsp;&nbsp;<%= "You do this at 1 place" %>
      <% else %>
	 	&nbsp;&nbsp;&nbsp;<%= "You do this at " +places_count.to_s + " places" %>
	  <% end %>
	<% else %>
	  <% activity_count = UserActivity.all(:conditions => {"activity_id" => object.activity.id}).length %>
	  <% if activity_count == 1 %>
	  	&nbsp;&nbsp;&nbsp;1 person likes doing this
      <% else %>
	 	&nbsp;&nbsp;&nbsp;<%= activity_count.to_s + " people like doing this" %>
	  <% end %>
	<% end %>
	
    <div class="clear"></div>
</div>
<div class="actions">
	<% if logged_in? && !current_user.user_activities.include?(object) %>
	<%=  link_to image_tag("HPThumbUp.png", :width=>20), '#', 'data-href' => new_account_place_activity_path(:activity_id => object.activity, :view => "add_activity"), :class => "add_activity" %>
	<% elsif  logged_in?    %>
	<%=  link_to image_tag("HPThumbDown.png", :width=>20), '#', 'data-href' => new_account_activity_path(:activity_id => object.activity ),:activity_id => object.activity.id, :class => "remove_activity" %>
	<% end %>      
</div>
<div class="clear"></div>
