<% @c1 = yield(:c1) %>
<% if @c1.present? %>
  <%= @c1 %>
<% else %>
  <h3 class="section">Me</h3>
  <div id="dashboard_icon">
    <%= image_tag current_user.icon.url(:profile) %>
  </div>
  <%= render :partial => "users/description", :locals => { :user => current_user } %>
  <div id="self_description">
    <span class="fancy_quotes">&#8220;</span>
    <%= current_user.description %>
    <span class="fancy_quotes">&#8221;</span>
  </div>
  <ul id="do_things">
    <li><%= link_to "SEARCH", :controller=>'search', :action=>"search_criteria", :id=>'find_people_link' , :t => "people" %></li>
	
    <li><%= link_to "EDIT YOUR INFO", edit_account_path %></li>
	<li><%= link_to "VIEW YOUR PROFILE", profile_path(current_user)%></li>
    <!-- <li><%= link_to "MANAGE PICTURES", account_pictures_path %></li> -->
    <li>&nbsp;</li>
      <li><%= link_to "INVITE A FRIEND", '#', 'data-href' => new_account_invitation_path, :class => "invite_a_friend" %></li>
  </ul>

<% end %>