<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
  <br />
  <%= render :partial => "shared/message" %>
<% end %>

<div class="column_header">
  <h2>My messages with <%= @other_user.first_name %></h2>
</div>

<div style='margin-bottom:20px'>
  <div class="icon" style='float:left'>
    <%= image_tag current_user.icon(:thumb), :width => "45px", :height => "45px" %>
  </div>
  <div class="message" style='float:left;padding-left:15px;width:430px; margin-bottom:10px''>
       <h4>Me</h4>


    <% form_for Message.new, :url => account_message_path(@other_user), :html => {:method => "put"} do |m| %>
      <%if @messages.length> 0 && @messages.first.message_type==1&&@messages.first.sender_id != current_user.id%>
        <%=radio_button_tag 'reply', 'yes', true%> <%=YES_MAIL%><br />

        <%=radio_button_tag 'reply', 'maybe'%> <%=MAYBE_MAIL%><br />

        <%=radio_button_tag 'reply', 'no'%> <%=NO_MAIL%><br />
      <%else%>
        <%= m.text_area :body , :cols => 30%>
      <%end%>


      <div style='clear'></div>
      <br />
      <%= submit_button 'Send',:class=>'submit_act'%>
      <div style='clear'></div>
    <% end %>

  </div>
  <div style='clear'></div>
</div>
<div style='clear'></div>
<br/>
<br/>

<div style='margin-top:10px'>
  <% if @messages.length > 0 %>
    <%= render :partial => "message", :collection => @messages %>
  <% else %>
    <h4>You haven't sent or received any messages from <%= @other_user.first_name %> yet.</h4>
  <% end %>


</div>



