<% content_for :c3 do %>
  &nbsp;		
<% end %>
<% content_for :c1 do %>
  &nbsp;	
<% end %>
<% content_for :message do %>
 <h2></h2>
<% end %>

<div class="column_header">
      	<h2 id="step_header">Feedback</h2>
</div>

<% if !params[:thanks] %>

<% form_tag "/contact" do %>

  <div style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 5px;">What is the one thing you love most about HelloPulse?</h2>
  <%= text_area_tag "feedback[love]", nil, :rows => 5, :cols => 50 %>
  </div>
  
  <div style="margin-bottom: 20px;">
  
  <h2 style="margin-bottom: 5px;">If you could change one thing about HelloPulse, what would it be?</h2>
  <%= text_area_tag "feedback[change]", nil, :rows => 5, :cols => 50 %>  
  
  </div>
  
  <div style="margin-bottom: 20px;">
  
  <h2 style="margin-bottom: 5px;">What else would you like to tell us?</h2>
  <%= text_area_tag "feedback[other]", nil, :rows => 5, :cols => 50 %>
  </div>
  
  <div style="margin-bottom: 20px;">
  
  <h2 style="margin-bottom: 5px;">Please enter your email address if you don't mind us <br>following up - we really care about what you have to say....
  </h2>
  <%= text_area_tag "feedback[email]", nil, :rows => 5, :cols => 50 %>
  </div>
  <br>
  <%= submit_button "Submit feedback" %>
<% end %>
<% else %>
  <p>Thanks for the feedback. 
<% end %>