<form autocomplete="off">
  <% upa_type ||= 'add' %>
  <% add_type ||= 'both' %>

  <% activity_id = user_place_activity.activity.id if user_place_activity.activity.present?   %>
  <% place_id =user_place_activity.place.id if user_place_activity.place.present?  %>

  <%place_id ||= 0%>
  <%activity_id ||= 0%>
  <%  user_place_activity ||= UserPlaceActivity.new %>
  <%= hidden_field_tag 'upa_type', upa_type %>
  <%= hidden_field_tag 'add_type', add_type %>
  <%= hidden_field_tag 'user_place_activity_id', user_place_activity.id %>
  <%= hidden_field_tag 'activity_id', activity_id,:id => 'activity_id' %>
  <%= hidden_field_tag 'place_id', place_id,:id => 'place_id' %>

  <div >
    <div id ="happening" style="float:left">
      <%if add_type == 'both'%>
        <div id="add_activity_and_place">
          <% if upa_type=='edit'  %>
            <h2>Edit this activity</h2>
          <%else%>
            <h2>Add a new activity to your favourites <img id="loading-image" src="/images/indicator.gif" alt="" style="display:none;" /></h2>
          <%end%>
          <br />
          <div id='activity'>
            <label  class="activity_label">What do you like doing?</label> <br />
            <%= text_field_tag :activity_name,(user_place_activity.activity.present? ? user_place_activity.activity.name : 'e.g. Drinking Margheritas'),   :class => "activity_input example", :disabled => false,  :size => 50%>
            <div id ="activity_results" class="<%=upa_type=="reg" ? 'activity_results_reg_h' : 'activity_results_h' %> " style="display:none">
            </div>
          </div>
          <div style="float:left;font-size:16px;margin-top:20px;margin-left:5px;margin-right:5px">
            @
          </div>
          <div id="place"  style="width:260px">
            <label  id="place_label" class="activity_label">Where do you like doing it?</label> <br />
            <%= text_field_tag :place_nam, (user_place_activity.place.present? ? user_place_activity.place.name : 'Crazy Homies'), :class => "place_input example", :disabled => false, :size => 50%>
            <div id='place_results' style="display:none">
            </div>
            <div id="new_place" style="width:230px;float:left;margin-top:10px;display:none">
              <%= std_drop_down('hood', 0, {:width => '200px'},hood_options, 'Select a neighborhood', '0') %>
            </div>
          </div>
        </div>
      <%end%>

      <%if add_type == 'activity'%>
        <div id="add_activity">
          <h2>What do you like doing here?</h2>
          <%= text_field_tag :activity_name,(user_place_activity.place.present? ? user_place_activity.place.name : nil),   :class => "activity_input", :disabled => false,  :size => 50%>
          <div id ="activity_results" class="<%=upa_type=="reg" ? 'activity_results_reg_h' : 'activity_results_h' %> " style="display:none">
          </div>
        </div>
      <%end%>

      <%if add_type == 'place'%>
        <div id="add_place" >
          <h2>Where do you like doing this?</h2>
          <%= text_field_tag :place_nam, (user_place_activity.place.present? ? user_place_activity.place.name : nil), :class => "place_input", :disabled => false, :size => 50%>
          <div id='place_results' style="display:none">
          </div>
        </div>
      <%end%>

      <%if add_type =='neither'%>
        <% place = Place.find(place_id)  %>
        <% activity = Activity.find(activity_id)  %>
        <div style="float:left">
          <%= image_tag(place.icon.url(:thumb), :width => '30px', :height => '30px') %>
        </div>
        <div  style="float:left; margin-left:7px">
          <h2><%=activity.name%> at <%=place.name%></h2>
        </div>
      <% end %>

      <div class="clear"></div>


      <div style="margin-top:5px">
        <span id="add_error" class="error"></span>
      </div>

      <div style="float:left;margin-top:10px">
        <%= text_area_tag('description', user_place_activity.description || USER_PLACE_DESCRIPTION_TEXT, :rows => 4, :cols=>45,:class => "input_text activity_input_text  word_count") %>
      </div>
      <div class="clear"></div>
      <div id="button_div" style="float:left;margin-top:10px">
        <%= submit_button upa_type == 'add' ? 'Add' : 'Save', :enabled=>'true', :id => 'add_activity_template' , :class=>"submit_act"%>

        <% if upa_type!='reg' %>
          <%= submit_button 'Cancel', :id => "cancel", :class=>"submit_act"%>
        <% end%>
      </div>
    </div>
    <div class="clear"></div>

    <div class="clear"></div>

    <% if upa_type=='reg' %>
      <div class="clear"></div>
      <div id="activities_container" style="float:left; margin-top:10px;margin-bottom:10px">
        <div class="clear"></div>
        <div style="float:left;width:556px; margin-bottom:4px;">
          <h3 style="width:556px;font-size:14px" class="section_name">Your activities</h3>
        </div>
        <div class="clear">&nbsp;</div>
        <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">What</div>
        <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">Where</div>
        <div style="padding:5px;margin-right:5px;width:85px;float:left;text-align:center;background-color:#EDEDED;">When</div>
        <div style="padding:5px;margin-right:5px;width:93px;float:left;text-align:center;background-color:#EDEDED;">Who</div>

        <div id="user_place_activities" style="float:left; margin-top:5px">
          Please add some activities
        </div>
      </div>
    <% end %>
  </div>
</form>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {

    pageTracker._trackEvent('AddActivity');


    $('#happening').focus();

    $('.std_dd').change(function() {
      var cntrl = $(this);
      cntrl.prev().val(cntrl.selected().val());
    });

    
    var resultsArray;
    var currentPlaceSelection;
    var currentSelection = 0;
    var search_timeout = undefined;
    var place_search_timeout = undefined;

    //events bindings
    $("#activity_name").bind('keyup',function(e){

      $("#loading-image").ajaxStart(function(){
        $(this).show();
      });
      
      $("#loading-image").ajaxStop(function(){
        $(this).hide();
      });

      if($("#activity_name").val().substr(0, 4)=='e.g.')
      {
        $("#activity_name").removeClass('example');
        firstLetter = String.fromCharCode(e.keyCode);
        $("#activity_name").val(firstLetter);
      }

      if(e.keyCode == 40)
      {
        navigate('down');
        return false;
      }
      if(e.keyCode == 38)
      {
        navigate('up');
        return false;
      }
      if($("#activity_name").val().length<= 2)
      {
        return false;
      }
      if(search_timeout != undefined) {
        clearTimeout(search_timeout);
      }
      var $this = this;
      search_timeout = setTimeout(function() {
        search_timeout = undefined;
        $.ajax({
          type: "GET",
          dataType: 'json',
          url: '/activities/autocomplete',
          data: {
            "q" : $('#activity_name').val()
          },
          success: function(p) {
            displayActivities(p);
          },
          error: function(p) {
            alert('An error occured');
          }
        })
      }, 500);
    });

    $("#place_nam").bind('keyup',function(e){
      $('#new_place').css('display','none');
      $("#place_nam").removeClass('example');
      if($("#place_nam").val().length<= 2) return false;
      if(place_search_timeout != undefined) {
        clearTimeout(place_search_timeout);
      }
      var $this = this;
      place_search_timeout = setTimeout(function() {
        place_search_timeout = undefined;
        $.ajax({
          type: "GET",
          dataType: 'json',
          url: '/places/autocomplete_new',
          data: {
            "q" : $('#place_nam').val()
          },
          success: function(p) {
            $('#place_results').css('display','block');
            resultsPlaceArray = p;
            $('#place_results').html(formatPlaceRows(p));
            bindPlaceHover()
          },
          error: function(p) {
            alert('an error occurred')
          }
        })
      }, 500);
    });

    $('.activity_dd').live('click',function(){
      currentSelection  = $("#activity_results ul li").index(this)
      setSelected(currentSelection);
      var act_id = $(this).attr('id');
      if(act_id == 0)
      {
        $('#activity_id').val(-1);
        $('#activity_results').css('display','none');
        if($('#add_type').val()=='both' && ($('#place_id').val()==0 || $('#place_id').val()=='' ))
        {
          displaySearchPlaces();
        }
        return false;
      }
      else
      {
        $('#activity_id').val($(this).attr('id'));
        if($('#add_type').val()!='both')  $('#activity_results').css('display','none');
      }

      $('#activity_name').val(getActivityFromID(act_id).name)
      if($('#add_type').val()=='both' && ($('#place_id').val()==0 || $('#place_id').val()=='' ))
      {
        //$('#place_results').html('');
        //$('#place_nam').val('');
     
        $.ajax({
          type: "GET",
          dataType: 'json',
          url: '/activity/activity_places',
          data: {
            "activity_id" : act_id
          },
          success: function(p) {
            if(p.length >1)
            {
              displayPopularPlaces(p);
            }
            else
            {
              displaySearchPlaces();
            }

            resultsPlaceArray = p;
            bindPlaceHover();
          },
          error: function(p) {
            alert('an error occured');
          }
        });
      }
      else
      {
        $('#activity_results').css('display','none');
      }
    });

    $('.place_dd').live('click',function(){
      currentPlaceSelection  = $("#place_results ul li").index(this);
      setPlaceSelected(currentPlaceSelection);
      var plc_id = $(this).attr('id');

      if(plc_id==0)
      {
        displaySearchPlaces();
        $('#place_results').css('display','none');
        $('#activity_results').css('display','none');
        $('#place_results').html('');

        return false;
      }
      if(plc_id==-1)
      {
        $('#activity_results').css('display','none');
        $('#place_results').css('display','none');
        $('#new_place').css('display','block');
        $('#place_id').val(-1);
        return false;
      }

      $('#place_nam').css('display','block');
      $('#place_nam').val(getPlaceFromID(plc_id).name);
      $('#place_id').val(plc_id);
      $('#place_results').css('display','none');
      $('#activity_results').css('display','none');
      $('#place_results').html('');
    });

    $('#place_nam').live('click',function(){
      $("#place_nam").removeClass('example');
      $('#new_place').css('display','none');
      $('#place_id').val(0);
      $(this).val('');
    });

    $('#description').live('click',function(){
      if($('#description').val().substring(0,11) == 'tell us why')
      {
        $(this).val('');
      }
    });

    $('#activity_name').live('click',function(){
      $("#activity_name").removeClass('example');
      $(this).val('');
      //$("#place").css('display','none');
      $("#place_results").css('display','none');
      //$("#place_nam").val('');
      $('#activity_id').val(0);
      $('#place_results').html('');
    });

    $("#cancel").click(function() {
      $("#dialog").jqmHide();
      return false;
    })

    $('#add_activity_template').live('click',function(){
      $('#add_activity_template').attr("disabled", "true");

      //if activity id = 0 add activity and get activity id
      //then add UPA
      if (!checkValidation())  return false;
      if($('#description').val().substring(0,11) == 'tell us why')
      {
        $('#description').val('') ;
      }


      $.ajax({
        type: "POST",
        url: "/user_place_activities/new_user_place_activity",
        data: {
          "user_place_activity_id" : $('#user_place_activity_id').val(),
          "activity_id" : $('#activity_id').val(),
          "activity_name" : $('#activity_name').val(),
          "place_id" :  $('#place_id').val(),
          "description" : $('#description').val(),
          "place_name" :  $('#place_nam').val(),
          "neighborhood" :  $('#hood').val()
        },
        success: function(p) {
          var type = $('#upa_type').val();
          switch(type)
          {
            case 'reg' : reg_success(p);
              break;
            case 'add' : add_success(p);
              break;
            case 'edit' : edit_success(p);
              break;
          }
          $('#add_activity_template').attr("disabled", "false");
        },
        error: function(p) {
          alert("error");
        }
      });
      return false;
    });
      
    //methods

  });
</script>