<label  style="margin-top: 5px; color:#990000;">What do you enjoy doing?</label>
<div class="clear"></div>
<div style="float:left;">
	<%= render :partial => "shared/activity_select_signup", :locals => {:allow_any_activity => "1",:horizontal=>true} %>
</div>
</br>
</br>
<div class="clear"></div>
<div style="float:left; margin-top:15px">
	<label  style="margin-top: 5px; color:#990000;">Where do you like doing it?</label>
	<div class="clear"></div>

	<%= hidden_field_tag 'place_id', "", :id => 'place_id' %>
	<%= text_field_tag :place_name, 
    (user_place_activity.place.present? ? user_place_activity.place.name : nil), 
    :class => "input_text", :disabled => user_place_activity.place.present?,
    :size => 50,
    "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
  	%>
	<div class='clear'></div>
 	<div style="margin-top:10px; float:left">
	<label  style="margin-top: 5px; color:#990000;">When do you do it?</label>
<div class="clear"></div>
	<%= drop_down('user_place_activity[day_of_week]', 'Monday', {:width => '130px'},dotw_options, 'Any day',0) %>&nbsp;
	&nbsp;&nbsp;
	<%= drop_down('user_place_activity[time_of_day]', 'Early Mornings', {:width => '200px'},tod_options, 'Any time',0) %>


	</div>

	<div class="clear"></div>
	<div style="margin-top:10px; float:left; margin-top:15px">
 		<label  style="margin-top: 5px; color:#990000;">Why do you like this place?</label>
 		<div class="clear"></div>
  		<%= text_area_tag('description','', :rows => 2, :cols=>70, :class => "input_text word_count") %>
	</div>

</div>

