<div style="height:500px;font-size:14px">
  <% form_for user_place_activity, :url => '/user_place_activities/new' do |f| %>

    <% if view == "add_activity" %>
      <h2>Add an activity</h2>
      <%= hidden_field_tag 'activity_id', activity.id, :id => 'user_place_activity[activity_id]' %>
      <%= image_tag(activity.icon.url(:thumb), :width => '30px', :height => '30px') %>
      <%= activity.name %> <span style="font-size: .7em;"><%= activity.category %></span>
      <div class="clear"></div>
      <label  style="margin-top: 5px; color:#990000; float:left">Where do you like doing this?</label>
      <% if place != nil %>
        <%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
      <% else %>
        <%= hidden_field_tag 'place_id', ANYWHERE_PLACE_ID,:id => 'place_id' %>
      <% end %>
      <%= text_field_tag :place_name,
        (user_place_activity.place.present? ? user_place_activity.place.name : nil),
        :class => "input_text", :disabled => false,
        :size => 50,
        "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
    %>
      <div class="clear"></div>
    <% elsif  view == "add_place" %>
      <h2><%=I18n.translate("Add_place_to_favorites")%></h2>
      <%= image_tag(place.icon.url(:thumb), :width => '30px', :height => '30px') %>
      <%= place.name %> <span style="font-size: .7em;"><%= place.neighborhood %></span>
      <%= f.hidden_field :id %>
      <%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
      <div class="clear"></div>
      <div id="activity_category_select" style="margin-top:10px">
        <label  style="margin-top: 5px; color:#990000;">What do you do here?</label>
        <div class="clear"></div>
        <%= render :partial => "shared/activity_select",  :locals => {:allow_any_activity => "1",:activity => nil,:activity_category => nil} %>
      </div>
      <div class="clear"></div>
    <% elsif view == "add_place_activity" %>
      <h2><%=I18n.translate("Add_place_to_favorites")%></h2>
      <%= image_tag(place.icon.url(:thumb), :width => '30px', :height => '30px') %>
      <%= hidden_field_tag 'activity_id', activity.id, :id => 'user_place_activity[activity_id]' %>
      <%= activity.name %> <span style="font-size: .7em;"><%= activity.category %></span> at
      <%= place.name %> <span style="font-size: .7em;"><%= place.neighborhood %></span>
      <%= f.hidden_field :id %>
      <%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
      <div class="clear"></div>
    <%else%>
      <h2>Add to favourites</h2>


      <div id="activity_category_select" style="margin-top:10px">
        <label  style="margin-top: 5px; color:#990000;">What do you like doing?</label>
        <div class="clear"></div>
        <%= render :partial => "shared/activity_select",  :locals => {:allow_any_activity => "1",:activity => nil,:activity_category => nil} %>
      </div>

      <div class="clear"></div>
      <label  style="margin-top: 5px; color:#990000; float:left">Where do you like doing it?</label>
      <div class="clear"></div>
      <% if place != nil %>
        <%= hidden_field_tag 'place_id', place.id, :id => 'place_id' %>
      <% else %>
        <%= hidden_field_tag 'place_id', ANYWHERE_PLACE_ID,:id => 'place_id' %>
      <% end %>
      <%= text_field_tag :place_name,
        (user_place_activity.place.present? ? user_place_activity.place.name : nil),
        :class => "input_text", :disabled => false,
        :size => 50,
        "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
    %>
      <div class="clear"></div>

    <% end %>

    <br />

    <div style="margin-top:10px; float:left">
      <label  style="margin-top: 5px; color:#990000; float:left">When do you do it?</label>
      <div class="clear"></div>
      <%= drop_down('user_place_activity[day_of_week]', 'Monday', {:width => '130px'},dotw_options, 'Any day',0) %>
      <%= drop_down('user_place_activity[time_of_day]', 'Early Mornings', {:width => '200px'},tod_options, 'Any time',0) %>
    </div>
    <div class='clear'></div>
    <br />

    <div style="margin-top:10px">
      <label  style="margin-top: 5px; color:#990000; float:left">Why do you like this place?</label>
      <div class='clear'></div>
      <%= text_area_tag('user_place_activity[description]',USER_PLACE_DESCRIPTION_TEXT, :rows => 2, :cols=>45,:class => "input_text word_count") %>
    </div>
    <%= submit_button 'Save', :id => "new_activity", :plc_id => "34"%>
    <%= submit_button 'Cancel', :id => "cancel" %>

  <% end %>
</div>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {

	



    function formatResult(row) {
      return row.replace("<span style='font-size:9px'>","").replace("</span>","");
    }

    $('#place_name').focus(function() {
      if ( !$.data(this, 'initialized') ) {
        $(this).val('');
        $("#place_name").autocomplete(
        "/places/autocomplete",
        {
          minChars: 2,
          cacheLength: 1,
          delay: 10,
          autoFill:false,
          maxItemsToShow: 20,
          formatResult: formatResult,
          mustMatch: false,
          scroll: true,
          scrollHeight: 20,
          onItemSelect: function(e) {
            var extra = $(e).attr('extra');
            if (extra.length > 0) {
              $("#place_id").val(extra[0])
            } else {
              $("#place_id").val('')
            }
          }
        }
      );
        $.data(this, 'initialized', true);
        $(this).blur();
        $(this).focus();
      }
    });

    $('.word_count').charCounter(140, {
      container: "<div></div>"
    })

    $('#user_place_activity_description').focus(function() {
      if ($(this).text() == "tell us why you socialise here and whether it's good for meeting people") {
        $(this).text('');
      }
    });

<% if request.xhr? %>
      $("#cancel").click(function() {
        $("#dialog").jqmHide();
        return false;
      })
    
      $("#new_user_place_activity").submit(function() {
        if($('#user_place_activity_description').val() == "tell us why you socialise here and whether it's good for meeting people")
        {
          $('#user_place_activity_description').val("")
        }
        var place_id = $("#place_id").val();

        $.ajax({
          type: "POST",
          url: '/user_place_activities/add',
          data: $(this).serialize(),
          success: function(p) {
            $("#dialog").jqmAddTrigger('.add_to_favorites, .add_place, .add_event, .add_activity, .invite_a_friend');
			$("#dialog").html("Successfully added to your profile");
			$('#dialog').fadeTo(5000, 0, function() {
			       $('#dialog').jqmHide();
					$('#dialog').fadeTo(1,1);
			     });
          },
          error: function(p) {
            //todo: here display error message
          }
        })

        var place_div = $("#place_"+place_id);
        var a = place_div.children(".actions").children("a");
        a.removeClass('add_place');
        a.addClass('remove_place');
        a.html('<img class=" tooltip " width="20" title="Remove from favorites" src="/images/HPThumbDown.png" alt="HpthumbDown"/>');
        return false;
      });
<% end %>



  });
</script>