<% content_for :message do %>
  <%= image_tag @place_activity_event.image_file , :width=>"556px"%>
<% end %>
<% content_for :c1 do %>
&nbsp;
<% end %>
<input type="hidden" id="price_total_hidden" value="<%=@event.ticket_price%>"/>
<div class="column_header">
  <h2>Ticket Purchase</h2>
</div>
Quantity <%= std_drop_down('quant', 1, {:id => 'quant',:width => '60px'},[['1','1'],[2,2],[3,3],[4,4],[5,5]], '1') %> at £<%=@event.ticket_price/100 %>  <br />
<span style="font-size:14px;font-weight:bold"><%=  @place_activity_event.header %></span>
on   <span style="font-size:14px;font-weight:bold"><br/>
  <%=Date::DAYNAMES[@event.start.wday]%>&nbsp;<%=Date::MONTHNAMES[@event.start.month]%>&nbsp;<%=@event.start.day%>&nbsp;<%=@event.start.year%>&nbsp;<%=@event.start.hour%>
</span><br/>
<p>Your order total is <span id="price"> £<%=@event.ticket_price/100 %> </span></p>
<p>
  <%= image_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif', :id=>'paypal' %>
</p>

<script type="text/javascript">
  var p = <%=@event.ticket_price%>;

  $('#paypal').live('click',function(){
    var pstr =$('#quant').val()*p/100 ;
    window.location = '/payments/checkout?price='+pstr+'&quantity='+$('#quant').val()+'&event_id='+<%=@event.id%>
  });

  $(".std_dd").live('change', function (){
var pstr =$('#quant').val()*p/100 ;

$('#price').html('£'+pstr+'.00');
$('price_total_hidden').val(pstr);
 return false;

});
</script>