<h2><%= @place_activity.activity.name %> at Ï <%= @place_activity.place.name %>?</h2>

<% form_for @event, :url => events_path do |f| %>
<%= hidden_field_tag 'place_activity_id',@place_activity.id %>
  <%= f.hidden_field :place_id %>
Date: 
 <%= hidden_field_tag 'startdate' %>
        <span>
          <%= std_drop_down('day', 0, {:width => '60px'},day_options, 'Day', 0) %>
          <%= std_drop_down('month', 0, {:width => '86px'},event_month_options, 'Month', 0) %>

        </span>
<br />
  Time:
<span>
          <%= std_drop_down('hour', 0, {:width => '60px'},hour_options, 'Hour', 0) %>:
          <%= std_drop_down('min', 0, {:width => '60px'},min_options, 'Min', 0) %>

        </span>


    

    
    <div class="clear">&nbsp;</div>
    <div id="event_save">
      <%= submit_button 'Save' %>
      <%= submit_button 'Cancel', :id => "cancel" %>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">


  function zeroPad(num,count) {
    var numZeropad = num + '';
    while(numZeropad.length < count) {
      numZeropad = "0" + numZeropad;
    }
    return numZeropad;
  }

  $(document).ready(function() {

   


    $("#cancel").click(function() {
      $("#dialog").jqmHide();
      return false;
    })

    $('.day a').click(function() {
      $('#event_when_time_2i').val($(this).attr('data-month'));
      $('#event_when_time_3i').val($(this).attr('data-day'));
      $('.day a').removeClass('active');
      $(this).addClass('active');
      return false;
    });
    
    $('#hour_holder, #minute_holder').blur(function() {
      if($(this).val().match(/[^\d]/)) {
        $(this).val('');
      }
    });
    
    $('#am_pm_select').click(function() {
      $("#am_pm_dropdown").show();
      return false;
    });
    
    $('#am_pm_dropdown a').click(function() {
      $('#am_pm_selected').text($(this).text());
      $('#am_pm_dropdown').hide();
      return false;
    });



    $('#new_event').submit(function() {
      $('.error').hide();
      var error = false;
      if ($('#hour_holder').val() == '') {
        $('#hour_holder').addClass('invalid');
        $('#hour_holder_error').show();    
        //error = true;
      }
      
      if ($('#minute_holder').val() == '') {
        $('#minute_holder').addClass('invalid');
        $('#minute_holder_error').show();
        //error = true;
      }
      
      if ($('.day a.active').length == 0) {
        $('#select_day_error').show();
        //error = true;
      }
      
      if (!error) {
        if ($.trim($('#am_pm_selected').text()) == 'PM') {
          $('#event_when_time_4i').val(Number($('#hour_holder').val()) + 12);
        } else {
          $('#event_when_time_4i').val(zeroPad($('#hour_holder').val(), 2));       
        }
        
        $('#event_when_time_5i').val(zeroPad($('#minute_holder').val(), 2));
        if ($.jqm.hash[1]) {
          // We are modal
          $.ajax({
            type: 'POST',
            url: '/events/create',
            data: $(this).serialize(),
            success: function() {
              $('#dialog').jqmHide();
            }
          });
        } else {
          return true;
        }
      }
      return false;
    });
  });
</script>