<% a =  @event.attendees.find_by_user_id(current_user.id)   %>
<% if a==nil || a.attendee_response == 0 %>
  <span style="font-size:16px;font-weight:bold"> ARE YOU COMING?</span>
<% else %>
  <span id="desc" style="font-size:16px;font-weight:bold;text-align:center"><%= attendee_response_string(a.attendee_response) %></span>
<% end %>
<div class="clear"></div>

<%=radio_button_tag 'reply', 'yes', a.attendee_response==1 %>I'm a comin'!<br />
<%=radio_button_tag 'reply', 'maybe', a.attendee_response==2%>I might come<br />
<%=radio_button_tag 'reply', 'no', a.attendee_response==3 %>I ain't gonna be there<br />

<script type="text/javascript" charset="utf-8">
  $('#reply_yes').live('click',function(){
    rsvp(1);
  });
  $('#reply_maybe').live('click',function(){
    rsvp(2);
  });
  $('#reply_no').live('click',function(){
    rsvp(3);
  });

  function rsvp(response_id)
  {
    $('#desc').html('<img id="loading-image" src="/images/indicator.gif" />');
    $.ajax({
      type: 'POST',
      url: '/events/respond',
      data: {'event_id' : <%=@event.id%>, 'response_id' : response_id},
      success: function(p) {
        $('#desc').html(p);
      },
      error: function(p) {
        alert(p);
      }
    });
    return false;

    
  }

</script>





