

<div id="userpage">
<div style="float:left;width:23px;font-size:20px" id="page_back" >
<% if collection.previous_page  %>
	<% qstring = "" %>
	<% params.each do |p| %>
	    <% if p[0] != "page"  && p[0] != "search_criteria"%>
		   <% qstring += "&" + p[0].to_s + '=' + p[1].to_s %>
		<% end %> 
  	<% end %>
	<% qstring += "&type="+collection.first.class.to_s.tableize %>
	<% if params[:search_criteria] != nil %>
	   	<%params[:search_criteria].each do |sc| %>
			<% qstring += "&search_criteria[" + sc[0].to_s + ']=' + sc[1].to_s %>
		<% end %>
	<% end %>
    <% if controller_name == "search" %>
		<% reqpath = request.path %>
	<% else %>
	    <!-- todo: add logic to decide which collection to get. at present there are no ajax calls for these -->
	    <% reqpath = request.path %>
	<% end %>	
  	<%= link_to "<", request.path + '?page=' + collection.previous_page.to_s + qstring, :class => "userpaginator" %>
<% else %>
	<%= "<" %>
<% end %>
</div>

<div style="float:left;width:500px" id="users">
  <%= render :partial => "shared_objects/user_list", :collection => collection %>
</div>


<div style="float:left;width:23px;font-size:20px"  id="page_forward">
<% if collection.next_page %>
	<% qstring = "" %>
	<% params.each do |p| %>
	    <% if p[0] != "page"  && p[0] != "search_criteria"%>
		      <% qstring += "&" + p[0].to_s + '=' + p[1].to_s %>
		<% end %> 
  	<% end %>
	<% qstring += "&type="+collection.first.class.to_s.tableize %>
	<% if params[:search_criteria] != nil %>
	   	<%params[:search_criteria].each do |sc| %>
			<% qstring += "&search_criteria[" + sc[0].to_s + ']=' + sc[1].to_s %>
		<% end %>
	<% end %>
	    <!-- todo: add logic to decide which collection to get. at present there are no ajax calls for these -->
	    <% reqpath = '/favorites/people'%>
  	<%= link_to ">", reqpath + '?page=' + collection.next_page.to_s + qstring, :class => "userpaginator" %>
<% else %>
	<%= ">" %>
	
<% end %>
</div>
</div>


<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
	
	  if ($.jqm) {
	    $("#dialog").jqm({ajax: '@data-href', modal: true});
	    $("#dialog").jqmAddTrigger('.add_to_favorites, .add_place, .add_event, .add_activity, .invite_a_friend');
	  }
	
	  });
</script>