<div class="column_header">
  <h2>Details</h2>
</div>

<div id="profile_image">
  <%= image_tag(@activity.icon.url(:large), :class=>"profile_image") %>
</div>


<ul id="do_things">
  <li><%= link_to "SEARCH", :controller=>'search'%></li>
  <% if current_user!=nil %>
    <li><%= link_to "EDIT MY INFO", edit_account_path %></li>
    <li><%= link_to "INVITE A FRIEND", '#', 'data-href' => new_account_invitation_path, :class => "invite_a_friend" %></li>
  <%  end %>
</ul>
<br />
<% if current_user!=nil %>
  <%= link_to "ADD TO MY FAVOURITES", '#', 'data-href' => "/user_place_activities/new?activity_id="+@activity.id.to_s+"&view=add_activity", :id => "add_place_activity", :class => "add_to_favorites submit" %>
<%end%>
<div id="manage_activity"></div>
<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {

    $("#remove_activity").click(function(event) {
      var target = $(this).attr('href');
      $.ajax({
        type: "POST",
        url: target,
        success: function() { $("#remove_activity").hide() && $("#add_activity").show() },
        data: { "_method": "delete"}
      });
      return false;
    });
  });
</script>

