<% if User.exists?(object.user) %>
<%current_user!=nil ? join_id = '' :  join_id = 'join'%>
  <div class="object" id="<%= dom_id object %>">

    <div class="a_icon" >
      <%= link_to image_tag(object.user.icon.url(:thumb), :width => '45px', :height => '45px'), object.user , :id=> join_id%>
    </div>
    <div class="a_who" >
      <%= link_to object.user.name, object.user,  :id=> join_id%>
    </div>
    <div class="a_why" >
      <% if object.place.id != ANYWHERE_PLACE_ID %>
        <%=link_to object.place.name, object.place , :id=> join_id%><br/>
      <%  else %>
        <%= object.place.name %><br/>
      <% end %>
      <i><%=object.description%>&nbsp;</i>
    </div>
    <div class="a_when" >
      <% if current_user!=nil %>
        <%= link_to image_tag("HPMail.png", :width=>20, :class => " tooltip", :title => "Send a mail"), account_message_path(object.user),'data-href' => account_message_path(object.user)  %>
        <%= (link_to image_tag("add_user_new.png", :width=>20, :class => " tooltip", :title => I18n.translate("Add_to_favorites")), "#", :class => "place_activity_people_favorite", :friend_id => object.user.id) unless current_user.has_friend?(object.user.id) || object.user.id == current_user.id %>
      <%end%>
    </div>
    <div class="clear"></div>
  </div>
<% end %>