
<%= stylesheet_link_tag %w(jqModal application ) %>
<%= javascript_include_tag 	"jquery-1.3.2", 'jquery.form.js', 'jqModal', 'jquery.autocomplete.js', 'jquery.charcounter.js', 'application', 'signup' %>
<%= token_tag %>
<h1>HelloPulse User Administration </h1>
<br />
<%= hidden_field_tag 'auth_token', form_authenticity_token %>
<% Activity.find(:all, :order => 'created_at DESC').each do |u| %>
  <div class="object" id="<%= dom_id u %>">
    <div style='height:50px;width:50px;float:left;padding:10px'>

      <%= link_to image_tag(u.icon.url(:thumb), :class=>"activity_image"), u, {:popup =>
          true} %>
    </div>
    <div style='width:300px;height:70px;float:left;margin-left:100px'>
       <%= u.name %>
      <% form_for u, :url => '/activities/update', :html => { :multipart => true } do |f| %>
      <%=  hidden_field_tag 'activity_id', u.id%>

      <%= f.file_field :icon %>
      <%= submit_button('Save') %>
      <%end%>
    </div>
    <%= link_to image_tag("Cancel.png", :style=>'width:40px;margin-top:5px;',:class => " tooltip ", :id => "delete_user", :user_id => u.id, :title => "Delete"), '#' %>

    <div style="clear:both;"> </div>
    <br />
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#delete_user').live('click',function(){
      var link = $(this);
      if(confirm("Are you sure you want to delete this user"))
      {
        $.ajax({
          type: "POST",
          url: '/admin_delete',
          data: {"id" : $(this).attr("user_id"),"authenticity_token" : $('#auth_token').val()},
          success: function(p) {
            alert(p);
            link.parent().parent().replaceWith('');
          },
          error: function(p)
          {
            alert(p);
          }
        });
      }
      return false;
    });

  });

</script>