

<div style="width:266px;float:left">
<% UserMatcher.matches_for(User.find(32), 'place',10).each  do |m|%>
  <%= m.first_name %> <%= m.id %> <%= m.pct_match %> <br />
<%end%>
</div>
<div style="width:266px;float:left">
<% UserMatcher.matches_for(User.find(32), 'activity',10).each  do |m|%>
  <%= m.first_name %> <%= m.pct_match %><br />
<%end%>
</div>


<div id="step_3_container">


  <%= render :partial => '/user_place_activities/free_user_place_activity', :locals=>{:upa_type => 'reg', :add_type=>'both',:user_place_activity=>UserPlaceActivity.new} %>
    <div style="float:left;">
      <%= submit_button("Finish", :id=> "finished",:class=>"submit_act") %>
    </div>
  </div>



