<style type="text/css">
  #activity_results,#place_results  {
    background-color:white;
    border-color:-moz-use-text-color #999999 #999999;
    border-style:none solid solid;
    border-width:medium 1px 1px;
    padding:3px;
    position:absolute;
    z-index:10;
    width:200px;

  }

  #activity, #place {
    float:left;
  }
  .activity_input, .place_input
  {
    border-color: #999999 #999999 #999999;
    border-style:solid solid solid;
    border-width:1px 1px 1px;
    width:200px;
    padding:3px;
  }
  .places_it
  {
    border-color: #999999 #999999 #999999;
    border-style:solid solid solid;
    border-width:1px 1px 1px;
    width:200px;
    padding:3px;
  }
</style>

<% content_for :c3 do %>
  &nbsp;
<% end %>
<% content_for :c1 do %>
  &nbsp;
<% end %>
<% content_for :message do %>
  <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>
<% end %>

<% user_place_activity = UserPlaceActivity.new %>
<div class="clear"></div>
<div id ="happening"style="float:left">
  <div id='activity'>
    <%= hidden_field_tag 'activity_id', 0,:id => 'activity_id' %>
    Activity<br/>
    <%= text_field_tag :activity_name,
      (user_place_activity.place.present? ? user_place_activity.place.name : nil),
      :class => "activity_input", :disabled => false,
      :size => 50
  %>

    <div id ="activity_results">


    </div>
  </div>
  <div style="float:left">
    <br />
    &nbsp;@&nbsp;
  </div>

  <div id="place">
    <%= hidden_field_tag 'place_id', 1,:id => 'place_id' %>
    Place<br />
    <%= text_field_tag :place_nam,
      (user_place_activity.place.present? ? user_place_activity.place.name : nil),
      :class => "place_input", :disabled => false,
      :size => 50
  %>

    <div id='place_results'>

    </div>
  </div>
  <br />
  <br />
  <div style="float:left;margin-top:20px">
   <%= text_area_tag('description',USER_PLACE_DESCRIPTION_TEXT, :rows => 2, :cols=>45,:class => "input_text word_count") %>
  </div>
  <div class="clear"></div>
  <%= submit_button 'Add', :enabled=>'true', :id => 'add_activity', :height => "30px", :width => "30px", :style => "margin-top:10px;margin-left:10px; font-size:14px" %>

</div>
<div class="clear"></div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    
    function formatResult(row) {
      return row.replace("<span style='font-size:9px'>","").replace("</span>","");
    }

    function formatRows(results){
      return results;
    }

    var search_timeout = undefined;
    $("#activity_name").bind('keyup',function(){
      if($("#activity_name").val().length<= 2) return false;
      if(search_timeout != undefined) {
        clearTimeout(search_timeout);
      }
      var $this = this;
      search_timeout = setTimeout(function() {
        search_timeout = undefined;
        $.ajax({
          type: "GET",
          url: '/activities/autocomplete',
          data: {
            "q" : $('#activity_name').val()
          },
          success: function(p) {
            $('#activity_results').html(formatRows(p));
          },
          error: function(p) {
            $('#activity_error').addClass('show');
            $('#activity_error').addClass('invalid');
            $('#activity_error').val(p.responseText);
          }
        })
      }, 200);
    });

    var place_search_timeout = undefined;
    $("#place_nam").bind('keyup',function(){


      if($("#place_nam").val().length<= 2) return false;
      if(search_timeout != undefined) {
        clearTimeout(place_search_timeout);
      }
      var $this = this;
      place_search_timeout = setTimeout(function() {
        place_search_timeout = undefined;
        $.ajax({
          type: "GET",
          url: '/places/autocomplete_new',
          data: {
            "q" : $('#place_nam').val()
          },
          success: function(p) {
            $('#place_results').html(formatRows(p));
          },
          error: function(p) {
            $('#activity_error').addClass('show');
            $('#activity_error').addClass('invalid');
            $('#activity_error').val(p.responseText);
          }
        })
      }, 500);
    });



    $('.activity_dd').live('click',function(){
      var act_id = $(this).attr('id');
      if(act_id == 0)
      {
        $('#activity_id').val(-1);
      }
      else
      {
        $('#activity_id').val($(this).attr('id'));  
      }
      $('#activity_name').val($(this).html())
      $('#activity_results').html('');
      $('#place_results').html('');
      $.ajax({
        type: "GET",
        url: '/activity/activity_places',
        data: {
          "activity_id" : $(this).attr('id')
        },
        success: function(p) {
          $('#place_results').html(formatRows(p));
        },
        error: function(p) {
          $('#activity_error').addClass('show');
          $('#activity_error').addClass('invalid');
          $('#activity_error').val(p.responseText);
        }
      })
    });

    $('.place_dd').live('click',function(){
      $('#place_nam').val($(this).html())
      $('#place_id').val($(this).attr('id'))
      $('#place_results').html('');
    });


    $('#place_nam').live('click',function(){
      $(this).val('');
    });

$('#description').live('click',function(){
   $(this).val('');
});

    $('#activity_name').live('click',function(){
      $(this).val('');
      $('#activity_id').val(0);
      $('#place_results').html('');
    });



    $('#add_activity').live('click',function(){
      //if activity id = 0 add activity and get activity id
      //then add UPA
      var error = false;
      if($('#activity_id').val() == 0)
      {
        error = true;
        return false;
      }

      $.ajax({
        type: "POST",
        url: "/user_place_activities/new_user_place_activity",
        data: {
          "activity_id" : $('#activity_id').val(),
          "activity_name" : $('#activity_name').val(),
          "place_id" :  $('#place_id').val(),
          "description" : $('#description').val()
        },
        success: function(p) {
          alert('added');
        },
        error: function(p) {
          alert("error");
        }
      });


      return false;

    });
  });

</script>