<div style="float:left; width:82px; height:120px;margin-left:2px;margin-right:2px;margin-top:5px;margin-botton:5px; background-color:white" id="<%= dom_id object %>">
  <div style="text-align:center;">
    <%current_user!=nil ? join_id = '' :  join_id = 'join'%>
    <%= link_to image_tag(object.icon.url(:thumb), :align => "center", :width => '75px', :height => '75px', :style=>"margin-top:3px;margin-bottom:3px;"), object, :id=> join_id  %>
  </div>
  <div class="clear"></div>
  <div style="text-align:center;margin-bottom:4px;">
    <%= object.first_name %>
  </div>
  <div style="text-align:center;">
    <% if current_user!= nil &&object.id != current_user.id %>
      <%= link_to image_tag("HPMail.png", :width=>20, :class => " tooltip", :title => "Send a mail"), account_message_path(object),'data-href' => account_message_path(object)  %>
      <%= (link_to image_tag("add_user_new.png", :width=>20, :class => " tooltip", :title => I18n.translate("Add_to_favorites")), "#",'data-href' => account_favorites_path, :class => "people_favorite", :friend_id => object.id) if !current_user.has_friend?(object.id)  %>
      <%= (link_to image_tag("Cancel.png", :width=>20, :class => " tooltip", :title => I18n.translate("Remove_from_favorites")), "#",'data-href' => account_favorites_path, :class => "people_unfavorite", :friend_id => object.id) if current_user.has_friend?(object.id) && controller_name == 'user_favorites'%>
    <% end %>
  </div>
</div>
