<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
<br />
  <%= render :partial => "shared/message" %>	
<% end %>
<div>
<% form_tag search_path, :method => :get, :id => "favorites" do %>
  <% content_for :message do %>
  <% end %>

  <h3 class="section"><%=I18n.translate("your_favorite_people") %></h3>
<div id='people_results'>
  <%= render :partial => "shared_object_collections/favorite_users_collection", :locals => {:collection => @favorites} %>
</div>
<div class='clear'></div>
<br />
  <h3 class="section"><%=I18n.translate("your_favorite_activities") %></h3>
  <%= render :partial => "shared_object_collections/favorite_place_activity_collection", :locals => {:collection => @user_place_activities} %>


<% end %>
