<div class="object" id="<%= dom_id object %>">
  <%current_user!=nil ? join_class = '' :  join_class = 'join'%>
  <div class="a_icon">
    <%= link_to image_tag(object.user.icon.url(:thumb), :width => '45px', :height => '45px'), object.user , :class=> join_class %>
  </div>
  <div class="a_who">
    <%=link_to object.user.name,object.user, :class=> join_class %>
  </div>
  <div class="a_why">
    <% if object.activity.id != ANYTHING_ACTIVITY_ID %>
      <%=link_to object.activity.name, '/place_activities/'+object.place_activity_id.to_s, :class=> join_class %><br/>
    <% else %>
      <%=   object.activity.name %><br/>
    <% end %>
    <i><%=object.description%>&nbsp;</i>
  </div>
  <div class="a_when">
    <% if current_user!=nil && object.user.id != current_user.id%>
      <span class ='submit_tiny arrange_to_meet'  data-href = "/messages/meet/?recipient_id=<%=object.user.id%>" >meet</span>
      <%= link_to image_tag("HPMail.png", :width=>20, :class => " tooltip",:style=>"margin-top:0px", :title => "Send a mail"),  account_message_path(object.user),'data-href' => account_message_path(object.user)  %>
      <%= (link_to image_tag("add_user_new.png", :width=>20, :class => " tooltip", :title => I18n.translate("Add_to_favorites")), "#", :class => "place_activity_people_favorite", :friend_id => object.user.id) unless current_user.has_friend?(object.user.id)  %>
    <%end%>
  </div>
  <div class="clear"></div>
</div>