<div class="object" id="<%= dom_id object %>">

	<div class="place_icon" style="width:41px;float:left;margin-right:5px;">
		<%= link_to image_tag(object.user.icon.url(:thumb), :width => '45px', :height => '45px'), object.user %>
	</div>
	<div class="place_person" style="width:85px;float:left;margin-right:5px;margin-left:10px;">
		<%=link_to object.user.name,object.user%>
	</div>
	<div class="place_why" style="width:305px;float:left;margin-right:5px;">
          <% if object.activity.id != ANYTHING_ACTIVITY_ID %>
                  <%=link_to object.activity.name, object.activity%><br/>
                <% else %>
                    <%=   object.activity.name %><br/>
                <% end %>
		<i><%=object.description%>&nbsp;</i>
	</div>
	<div class="place_when" style="margin-left:5px;width:95px;float:left">
		<% if object.day_of_week == 0 && object.time_of_day ==0 %>
		Anytime
		<% else %> 
	    <%=dotw(object.day_of_week) + "<br /> " + tod(object.time_of_day)%>
		<% end %>
	</div>	 
	<div class="clear"></div>
</div>