
<% content_for :c1 do %>
  <%= render :partial => "places/place_sidebar" %>
<% end %>
<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML", :js=>:jquery%>
<%  auth_code ||='' %>

<% content_for :message do %>
  <%if auth_code != nil &&auth_code!='' && !logged_in? %>
    <h3> You have been invited to link this activity to your Facebook Page. You will be asked to grant Hellopulse permission to publish to your activity stream, and to give us offline access so we can publish updates to your page. Please click <%= fb_login_button('reqPermissions()')%> to continue</h3>
  <%elsif (!logged_in?)||(current_user.class!=User)%>
    <h1> Join HelloPulse now to meet these great singles, and find where others are hanging out.  &nbsp;&nbsp; &nbsp;      <%= submit_button "Join Now", :id =>'join',  :class =>'submit_act'  %>  &nbsp; or &nbsp;     <span class="facebook-connect-button"> <%= fb_login_button('showUserReg()') %></span></h1>
  <%elsif current_user.class==User &&current_user.status==3 && @place.admin_user_id == current_user.id%>
   <h1> Hello <%=current_user.first_name%> - we are pleased to be partnered with you.  </h1>
   <%else%>
  <h1> Hello <%=current_user.first_name%> - check out this place </h1>
  <%end%>
<%end%>


<%=hidden_field_tag 'auth_code_hidden' , auth_code%>


<div class="column_header">

      	<h2><%=@place.name%></h2>
    
</div>
<div style="float:left;width:356px; margin-bottom:4px;margin-top:0px">
		<h3 style="width:356px;font-size:14px" class="section_name">People who hang here</h3>
</div>
<div style="text-align: right;float:right;width:200px; margin-bottom:4px;margin-top:0px">
		<h4 id="people_paging" style="width:200px;font-size:12px" class="section_name">Page 1 of <%=@users.total_pages %></h4>
</div>
<div class='clear'></div>
<div id='people_results'>
	<% if @users != nil and @users.length >0 %>
	  <%= render :partial => 'shared_object_collections/horizontal_users_collection' , :locals => {:collection => @users,:reqpath=>'/place/users'}%>
	<% end %>
</div>

<div class="section_header" >
	<div style="float:left;width:200px">
		<h3 style="width:100px;" class="section_name">Comments</h3>
	</div>
	<div class="clear">&nbsp;</div>
</div>
<div>
	<div class="h_a_who">Who</div>
	<div class="h_a_why">Why & What</div>
	<div class="h_a_when">&nbsp;</div>
	<div class="clear"></div>
	<% if @user_place_activities != nil and @user_place_activities.length >0 %>
		<%= render :partial => 'user_place_activity_collection' , :locals => {:collection => @user_place_activities}%>
	<% end %>
</div>


<script type="text/javascript">

$('#join').live('click',function(){
    showUserReg()
    return false;
})

  function showReg()
  {
    $('#dialog').jqm({ajax:'/partner_reg?auth_code=<%=auth_code%>&object_id=<%=@place.id%>&object_type=place',modal:true});
    $("#dialog").jqmShow();
  }

 function showUserReg()
  {
    var id = FB.Connect.get_loggedInUser();
    $.ajax({
      type : "GET",
      url : "/facebook_user_exists",
      data : {"fbid" : id},
      success : function(p){
        if(p=='true')
        {
                 window.location.href=window.location.href;
        }
        else
        {
          $('#dialog').jqm({ajax:'/quick_reg',modal:true});
          $("#dialog").jqmShow();
        }
      },
      error : function(p){
        alert('error')
        return false;
      }

    });
    return false;
  }
  function reqPermissions()
  {
    FB.Connect.showPermissionDialog("status_update,offline_access,publish_stream", function(){showReg()},true );
  }
</script>