<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>HelloPulse</title>
	<%= stylesheet_link_tag %w(960 reset application calendarview) %>
	<%= javascript_include_tag :defaults, "builder", "calendarview", "charcount", "autocompleter" %>
</head>

<body id="<%= @body_id %>">
  
  <div id="container" class="container_16">
    
    <div id="header" class="grid_16">
      <div class="grid_8 alpha">
        <%= link_to(image_tag("hellopulse.png"), root_path) %>
      </div>
      
      <div id="menu" class="grid_8 omega">
        <span><%= link_to "messages", inbox_path %></span>
        
        <span><%= link_to "places", account_places_path  %></span>
        <span><%= link_to "my calendar", "" %></span>
        <span><%= link_to "matches", account_matches_path %></span>
        <span><%= link_to "account", account_path %></span>
        <span class="last"><%= link_to "logout", logout_path %></span>
        
        <!-- <%= link_to "logout", logout_path %> -->
      </div>
    </div>
    
    <div id="main" class="grid_16">

      <div class="grid_10 prefix_2 alpha text_left">
        <%= yield %>
      </div>
      
      <div class="grid_2 suffix_2 omega">
        &nbsp;
      </div>
    </div>
    
    <div id="footer" class="grid_16">
    </div>
    
    <div class="clear"></div>
  </div>

</body>
</html>
