<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>HelloPulse</title>
    <%= stylesheet_link_tag %w(yui_base_min jqModal application ) %>
    <%= javascript_include_tag 	 "jquery-1.3.2", 'jqModal', 'jquery.autocomplete.js', 'jquery.charcounter.js', 'application' %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
  

</head>
  <body>
    <%= hidden_field_tag "googlecode", googlecode(request.url) %>
	<div id="dialog" style="display: none;" class="jqmWindow"></div>
	
    <div id="nav">
      	<ul id="top-nav">
        	<%= nav_links %>
      	</ul>
	 	<div id="search-box">
          	<% form_tag '/search', :method => "get" do  %>
            	<%= text_field_tag 'search_criteria[keyword]', '', :class => "header_input_text" %>
				<%= hidden_field_tag 'search_criteria[type]', '1', :class => "header_input_text" %>
				<% if current_user!=nil%>
					<%= hidden_field_tag 'search_criteria[sex_preference]', current_user.sex_preference, :class => "header_input_text" %>
					<%= hidden_field_tag 'search_criteria[lower_age]', [current_user.age_preference-1], :class => "header_input_text" %>
					<%= hidden_field_tag 'search_criteria[upper_age]', [current_user.age_preference+1], :class => "header_input_text" %>
				<% end %>
            	<button id="search" class="header_submit" style="" type="submit"></button>
          	<% end %>
     	</div>
     	<div class="clear"></div>
    </div>
    <div id="header">
      <%= link_to image_tag("header_logo.png", :alt=>"HelloPulse", :id=>"logo" ,:height=>"173", :width=>"314"), account_path %>
      <div id="header-banner"><%= yield :message %></div>
    </div>

	<!--Main Content Starts Here -->

	<div id="main_container">
        <div id="left" class="column_container">
		   
          <%= render :partial => "shared/user_sidebar" %>
        </div>
        <div id="middle" class="column_container">

	
          <%= yield %>
        </div>
        <div id="right" class="column_container">
	
          <%= render :partial => "shared/map" %>
        </div>
	</div>
	<div class="clear">&nbsp;</div>
	<div id="main_footer">
    	<%= render :partial => "shared/footer" %>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("<%= googlecode(request.url) %>");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>


