<body>
  <div id="dialog" style="display: none;" class="jqmWindow"></div>

	<%= render :partial => "shared/header" %>
    <%= hidden_field_tag "googlecode", googlecode(request.url) %>


	<div id="nav">
	  <ul id="top-nav">
	    <%= nav_links %>
		<div id="search-box">
	        <% form_tag '/search', :method => "get" do  %>	
	          <%= text_field_tag 'q', params[:q], :class => "header_input_text" %>
	          <button id="search" class="header_submit" style="" type="submit"></button>
	        <% end %>
	      </div>
	    <div class="clear"></div>
	  </ul>
	</div>
	
	<div id="header"> 
		<a href="#"><img src="/images/header_logo.png" alt="HelloPulse" id="logo" height="173" width="314"/></a> 
		<div id="header-banner"><%= yield :message %></div>
	</div>
	<div id="container">
      
      <div class="clear">&nbsp;</div>
	<div id="content">

        
        <div class="clear">&nbsp;</div>

        <div id="c1" class="column">
          <%= render :partial => "shared/user_sidebar" %>
        </div>
        
        <div id="c2" class="column">
          <%= yield %>
        </div>
        
        <div id="c3" class="column">
          <%= render :partial => "shared/map" %>
        </div>
        
        <div class="clear">&nbsp;</div>
    </div>
    <%= render :partial => "shared/footer" %>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("<%= googlecode(request.url) %>");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
</div>
</body>



